[2017-01-18 16:04] juniorz opened #1 "Use autotools"
We need to use autotools (autoconf, automake, libtool) to make the library more portable and manage dependencies and other requirements.

[2017-01-30 15:25] tdruiva opened #2 "Error managing"
- [x] How we are managing errors?
- [x] Is it protected, to not leak information?
- [x] Is it standard around our code?
- [x] How good it is defined in the spec?
- [x] Check bools
- [x] Check normal error: success and failures
- [x] Check all paths, specially the discard on instance tags.
- [ ] Check bools and otrv4 errors: use 1 or 0?

[2017-01-30 15:28] tdruiva opened #3 "OTR full flow"
- [ ] Send Query message
- [ ] Reply with pre-key
- [ ] Receive pre-key and reply with DRE-Auth
- [ ] Receive and very DRE-Auth

[2017-01-30 15:38] tdruiva opened #4 "Client Profile API"
To create an API to generate and publish Client Profile.

[2017-02-06 01:59] #1 closed

[2017-03-21 16:50] juniorz opened #6 "Public API"
At the moment we have two sets of API:

### Protocol API (`#include <libotr4/otrv4.h>`)

This is the API for "Off-the-Record Messaging Protocol version 4". A protocol manages a connection that allows different versions of the wire protocols defined in the spec (version 3 and version 4). Once two running protocols decide on a wire protocol version, they use it to start a connection by running a key

[2017-03-21 16:53] juniorz commented on #6
Questions:

* Do the actual APIs correspond to the text?
* Should we extract the `connection` (or `wire`) API and make it public?
* Should a connection be able to send arbitrary array of bytes or only zero-terminated strings?

[2017-05-08 20:21] natalieesk opened #7 "Error handling for the Dakez"

[2017-05-08 20:24] juniorz opened #8 "Finish SMP"

[2017-05-08 20:27] juniorz opened #9 "Fingerprint manager"
Managing fingerprints and trust level is not specified in the protocol, but it's still implemented in the original libotr. It's seems to have a significant amount of code.

We are considering to implement a minimal manager that's gonna be used only on the reference pidgin plugin.

Tasks:

- [x] Add a "fingerprint store" to the plugin (it's currently inside libotr as part of user state).
- [x] Upda

[2017-05-08 20:29] juniorz opened #10 "Add non-interactive AKE to the spec"

[2017-05-08 20:29] natalieesk commented on #7
The happy path is completed plus some error scenarios

[2017-05-08 20:30] juniorz opened #11 "User Profile signatures"
We are not signing nor verifying user profile signatures.

[2017-05-08 21:14] juniorz opened #12 "Reveal old MAC keys"

[2017-05-08 21:15] juniorz opened #13 "Safely delete old ratchet keys"

[2017-05-08 21:15] juniorz opened #14 "What about policies to be used by plugins?"
Should we implement the policies in the plugin?

[2017-05-08 21:49] juniorz opened #15 "Add fragmentation"

[2017-05-08 22:16] juniorz opened #16 "Refactor the pidgin plugin"
There are a few things we could probably remove, like:
- [ ] ConnContext. Remove the functions:
  - [ ] otrg_plugin_context_to_trust
  - [ ] otrg_plugin_conv_to_selected_context
  - [ ] conn_context_to_plugin_conversation
- [ ] Handle warnings

[2017-05-10 14:41] juniorz commented on #9
Tasks:

- [ ] Add a "fingerprint store" to the plugin (it's currently inside libotr as part of user state).
- [ ] Update the "Known fingerprints" UI to use this storage.

[2017-05-10 20:10] juniorz opened #17 "Add OTRv3 support to OTRv4"

[2017-05-11 21:11] juniorz commented on #9
The "Known fingerprints" is working now.

[2017-05-11 21:11] #9 closed

[2017-05-12 20:00] #11 closed

[2017-05-12 20:01] juniorz opened #18 "Update libdecaf to master branch"
https://sourceforge.net/p/ed448goldilocks/code/ci/master/tree/

[2017-05-12 20:06] juniorz commented on #18
https://travis-ci.org/twstrike/ed448goldilocks/builds/231692762

[2017-05-12 20:06] #18 closed

[2017-05-15 14:11] tdruiva commented on #16
Do you think auto generate key is part of this refactoring or it can be a different task?

[2017-05-16 15:31] juniorz opened #19 "Receive Identity Message while on state WAITING_AUTH_I"

[2017-05-16 15:39] juniorz commented on #7
The sad path includes:
- [x] Receive Identity Message while on state WAITING_AUTH_I (#19)
- [x] Add test for "Receive Identity Message while on state WAITING_AUTH_R":
   - [x] When you are the lower
   - [x] When you are the higher
- [x] Add test for "Receiving an Auth-R message while NOT on state WAITING_AUTH_R"
- [x] Add test for "Receiving an Auth-I message while NOT on state WAITING_AUTH_I"

[2017-05-16 16:20] juniorz opened #20 "Auto generate key pair"

[2017-05-16 16:21] juniorz commented on #16
#20 created ;)

[2017-05-17 20:58] juniorz opened #21 "Be consistent with scalar serialization"
This includes at least:

- [x] change the `SNIZKPK` to use the `SCALAR` and not `MPI` (spec and implementation),
- [x] change all `SMP` messages to use the `SCALAR` type and not `MPI` (spec and implementation),

From: https://github.com/twstrike/libotrv4/commit/9302e159f8bc72fc42dd286f36d2118feaa93196#commitcomment-22181306

[2017-05-17 21:01] #20 closed

[2017-05-23 15:44] rosatolen opened #22 "Support stable releases of libgcrypt for Debian and Fedora"
Currently, our libotrv4 library requires a version of libgcrypt (1.7.6) that is higher than the stable versions that we can get from package managers on Debian and Fedora. We depend on 1.7 because we use constants like GCRY_MD_SHA3_512 that are defined in versions of libgcrypt higher than 1.6.9.

Debian jessie (stable) supports a patched version of libgcrypt called: 1.6.3-2+deb8u2.
Fedora 25 (stab

[2017-05-23 17:05] juniorz opened #23 "Add support to type 0 TLVs (padding)"
We can receive padding TLVS but cant send.

[2017-05-24 03:37] juniorz commented on #8
The SMP and the UI are finished.

[2017-05-24 03:37] #8 closed

[2017-05-24 03:41] juniorz commented on #16
@tdruiva and I tried (and failed) to do it. It's hard to remove all the dependencies on libotr3 when the plugin has no tests.

I'm gonna close this because I don't want to encourage us to use more time on this.

[2017-05-24 03:41] juniorz commented on #3
Done.

[2017-05-24 03:41] #3 closed

[2017-05-24 17:10] juniorz opened #24 "Send heartbeat messages"
This might also need the implementation of the 'IGNORE_UNREADABLE' flag.

[2017-05-25 21:23] tdruiva commented on #17
Initial integration working in OTRv4
- [x] integrate plugin
- [x] do SMP
- [ ] check others TLVs
- [ ] expected callbacks
- [ ] what do to about errors?

[2017-05-25 21:31] tdruiva commented on #15
Some thoughts from integration with OTRv3....

When we receive a message and this is fragmented, we should reconstruct it and if the protocol's running instance is OTRv3, just call receive_message.

In the case to sent a message, OTRv3 should prepare the message and OTRv4 fragment it if requested

[2017-05-25 23:39] claucece commented on #12
Almost working at bb910b6

[2017-05-29 21:05] claucece commented on #12
Done on 3a6cf6dc3776d6c1fa41da75fd45e227ac556ad9

[2017-05-29 21:06] #12 closed

[2017-05-30 02:02] claucece commented on #21
Done on 08445113d43042d9f03004891a7b8617ee420f81

[2017-05-30 02:02] #21 closed

[2017-05-30 19:23] tdruiva opened #25 "Manage instance tags"
Like OTR3, we should create an manage instance tags

[2017-05-30 19:36] juniorz opened #26 "Allow generating v3 and v4 long term keys independently"
The current UI only shows the fingerprint for the OTRv4 long-term key, and the generate button is only enabled if the OTRv4 key is missing.

[2017-05-30 19:39] juniorz opened #27 "How should we communicate v3 + v4 long-term keys (and fingerprints) to the user?"
The OTRv4 long-term (public) key is published together with a user profile that's signed with the OTRv3 long-term (private) key.

Can we make use of this and simplify the UI? Can we omit OTRv4 fingerprint when there's a profile signed by a trusted OTRv3 key?

[2017-06-01 15:55] juniorz commented on #25
And ignore messages received that do not have our instance.

[2017-06-06 20:18] juniorz commented on #16
We know better what needs to be removed. Not that we want to remove them now.

[2017-06-07 21:06] #17 closed

[2017-06-08 18:41] juniorz opened #28 "Multi-instance conversation"
From the plugin perspective, something like this should be possible:

1. Alice (on device 1101) has an OTR conversation with Bob (on device 1201).
2. Bob (on device 1202) starts a new OTR conversation with Alice (still on device 1101).
3. Alice should have both conversations running simultaneously, and should be able to receive and send messages to both conversations.

`libotr` keeps a separate co

[2017-06-12 16:52] claucece commented on #25
Just missing:

On receiving fragments, check if
- the recipient's own instance tag does not match the listed receiver instance tag
- the listed receiver instance tag is not zero,

[2017-06-14 23:20] #25 closed

[2017-06-14 23:21] claucece commented on #15
Tani, this checks also:

On receiving fragments, check if

the recipient's own instance tag does not match the listed receiver instance tag
the listed receiver instance tag is not zero

[2017-06-15 00:15] tdruiva commented on #15
Yeahh... is still missing this check... Tks!
I'll do it (was in my mental notes)

[2017-06-21 15:08] claucece commented on #19
Closed on ea18b3d274bdbd0304b63e00a78c2de94aa0db7b

[2017-06-21 15:08] #19 closed

[2017-06-21 22:28] juniorz commented on #13
After reverting 42711dd, 8073f69 and 7ea7071 (in this order) the test added in bb3aa342fd837acfdb75a2b663b18a5307dc5c0a works.

[2017-06-23 05:39] claucece opened #30 "Random failure of some tests"
Locally, on OS, the 'test_fixtures' sometimes fails, while comparing root keys.

[code]

Might be related to manually setting 'our_dh->pub' in 'identity_message_in_waiting_auth_r' test or to removing ratchet id.

[2017-06-24 16:22] claucece commented on #30
Maybe related:

On CI, sometimes this fails:

[code]

[2017-06-26 15:36] claucece opened #31 "Mem leak of tests when not placed in a specific order"
The test `test_api_multiple_clients` will fail when not listed at the bottom of the test.c file.
Seems like tests are interfering with each other. Seems like any test with `do_ake_fixture` will fail if not  placed correctly on the file.

Check d335b385081ac2752a65b452dd467350af2049cc

[2017-06-26 15:36] claucece commented on #30
UPDATE: looks like it is either related with ratchet id or related with issue #31
Also, in test `test_invalid_auth_i_msg_in_not_waiting_auth_i`, at some point the macs are not the same.  Might be related.

[2017-06-26 15:45] natalieesk commented on #31
This is why we should randomise the test order. I don't know if anyone's
looked into this yet.

On 26 June 2017 at 10:36, cherenkov <notifications@github.com> wrote:

--
*Natalie Eskinazi**Software Developer*
Emailneskinaz@thoughtworks.com
[image: ThoughtWorks] <http://www.thoughtworks.com/>

[2017-07-07 16:02] #7 closed

[2017-07-26 16:05] yakiradixon commented on #10
The OTRv4 spec contains a section describing the [non-interactive DAKE](https://github.com/twstrike/otrv4/blob/master/otrv4.md#non-interactive-deniable-authenticated-key-exchange--dake-).

[2017-07-26 16:05] #10 closed

[2017-07-26 18:20] yakiradixon opened #32 "Backwards compatibility with libotr"
See https://github.com/twstrike/otrv4/issues/48

[2017-07-31 21:30] #15 closed

[2017-08-10 21:40] claucece commented on #30
Found again at the 30 time I run the tests:
[code]

[2017-09-26 16:28] claucece commented on #30
Apparently, Idk since when, some test randomly fail locally and on the CI:

`ERROR:./test_fixtures.h:120:void do_ake_fixture(otrv4_t *, otrv4_t *): assertion failed: (otrv4_receive_message(response_to_bob, response_to_alice->to_send, alice) == OTR4_SUCCESS)
ERROR:./test_identity_message.c:139:test_dake_identity_message_valid: assertion failed: (valid_dake_identity_message(identity_message))
ERROR:

[2017-09-26 16:29] claucece opened #33 "Generate the extra symmetric key"

[2017-09-26 16:34] claucece opened #34 "Hash the user profile"
As defined on the spec, do a KDF of the user profile when calculating the Auth.

1. For interactive:
For Auth-I and Auth-R message:
`t = 0x0 || KDF_2(Bobs_User_Profile) || KDF_2(Alices_User_Profile) || Y || X || B || A || KDF_2(Φ) `

2. For non interactive
For Non-Interactive-Auth message:
`t = KDF_2(Bobs_User_Profile) || KDF_2(Alices_User_Profile) || Y || X || B || A || KDF_2(Φ) || their_shared_p

[2017-09-26 16:36] claucece opened #35 "Generate Public Shared PreKey"
Generate and incorporate Public Shared Prekey to the user profile.

[2017-09-26 16:41] claucece opened #36 "Incorporate the non-interactive Deniable Authenticated Key Exchange"
Incorporate the Non-interactive Deniable Authenticated Key Exchange:

- [x] Generate the public shared PreKey #35
- [x] Generate pre key messages
- [x] Generate non interactive auth messages
- [x] Incorporate both messages to DAKE
- Incorporate into data messages flow. Take into account the two cases:
- - [x] normal "flow" of data messages
- - [x] a data message can be attached in the Non-Interact

[2017-09-26 16:42] claucece opened #37 "Expire the otr session"
As defined on the spec, section Session expiration. This will probably need to have all the offline/non interactive scenarios set, as well as the heartbeat messages. This also potentially  impacts the non-interactive-auth message when an encrypted message is attached to it and a ratchet begins. Will these messages have an expiration time, then?

[2017-09-26 16:44] claucece opened #38 "Incorporate the shared session state"
Incorporate the shared session state (phi) to the Auth.

[2017-10-06 15:04] claucece commented on #34
Done in e2588ccce548b0342fd21a6a9637a85c8d5eb7c7.

[2017-10-06 15:04] #34 closed

[2017-10-18 17:35] claucece commented on #35
Closed on d6956703d01af59b74904494cc4202507af202b4

[2017-10-18 17:35] #35 closed

[2017-10-21 21:15] claucece commented on #30
After testing since f4b5ad331e769745f08b2fd432fa3f4d6858cd2b, it still fails:

[code]

[2017-10-22 04:59] claucece opened #39 "Memory leaks while executing some tests"
Currently, there seems to be three memory leaks (that show up randomly on ci):

[code]

[code]

[code]

[2017-10-22 05:01] claucece commented on #30
This possibly related to #39

[2017-10-24 16:59] natalieesk commented on #13
- [x] Securely delete DH private keys as soon as they're not needed any more
- [x] Same for ECDH

[2017-10-24 17:01] natalieesk commented on #13
Deletion of the DH keys maybe contributing to the flaky memory leaks as referenced in #39 <- to look into

[2017-10-25 14:35] natalieesk opened #40 "Derive root and chain keys from previous root key when needed"
The first root and chain keys do not use the current root key as it doesn't exist yet. But when deriving later root keys, the current root key must be passed into the KDF. As in the spec:

derive_ratchet_keys(R_i-1, K):
  R_i = KDF_2(0x01 || R_i-1 || K)
  Ca = KDF_2(0x02 || R_i-1 || K)
  Cb = KDF_2(0x03 || R_i-1 || K)
  return R, decide_between_chain_keys(Ca, Cb)

[2017-10-26 05:30] claucece opened #41 "Choose a padding method"
Currently, on libotr3 the padding method used seems loosely based on PKCS#7 as described on [RFC 5622](https://tools.ietf.org/html/rfc5652#section-6.3). If this is the case, the value of each added byte is the number of bytes that are added, not zero as currently seems to be. If the padding method chose is Zero padding, as usually specified in hashes and macs, it must be taken in account that this

[2017-10-27 09:53] #41 closed

[2017-10-29 07:05] claucece commented on #33
Done on 2c8b9feeaa72622add6c6c41a9708d6c6b0be7c5

[2017-10-29 07:05] #33 closed

[2017-10-30 13:48] natalieesk commented on #30
Most flaky tests are now fixed, this seems to be the only one that remains:
ERROR:./test_client.c:720:test_valid_identity_msg_in_waiting_auth_r_lower: assertion failed: (!alices_auth_r)

Usually need to run the tests at least 200 times to see this failing.

[2017-10-30 16:01] claucece commented on #23
Closed on fec6fe2e1ddd2ed1ababc6ede04680cf0db7bac4

[2017-10-30 16:01] #23 closed

[2017-10-31 15:24] #30 closed

[2017-11-05 17:58] claucece commented on #39
Hey @natalieesk , I saw you referencing this issue. Are you working on it? If so, can you assign it to you here? it's just for clarity.. thanks! :)

[2017-11-05 18:09] claucece commented on #31
Fixed on dcc38623875f6a19eaca9d889ee155b63c2ee0a6

[2017-11-05 18:09] #31 closed

[2017-11-08 01:44] claucece commented on #36
This implementation will be a mock, until the spec for the interaction with server comes, as referred [here](https://github.com/otrv4/otrv4/issues/77)

[2017-11-09 15:33] natalieesk commented on #40
Update:

derive_ratchet_keys(R_i-1, K):
  R_i = KDF_2(0x01 || KDF_2(R_i-1 || K))
  Ca = KDF_2(0x02 || KDF_2(R_i-1 || K))
  Cb = KDF_2(0x03 || KDF_2(R_i-1 || K))
  return R, decide_between_chain_keys(Ca, Cb)

[2017-11-09 16:58] claucece commented on #38
Closed on 5e2a0e433cd7fb3e1ef86d4781f43b707266ce7b

[2017-11-09 16:58] #38 closed

[2017-11-09 19:20] claucece commented on #22
We are no longer using SHA3 from libgcrypt. Nevertheless, libgcrypt 1.8 comes with a some important [bug fixes](https://lists.gnupg.org/pipermail/gnupg-announce/2017q3/000410.html). Right now, we are cheking for v 1.8 but allowing 1.6 or newer versions.

[2017-11-09 19:57] claucece commented on #7
Closed on ab3d55d01a6e35fe14a56b94b4378292f7242177

[2017-11-09 23:21] #13 closed

[2017-11-10 13:36] juniorz commented on #33
Comparing to OTRv3:

Given `secbytes = MPI(s)`, sending / receiving uses keys:

`encA = SHA1(0x01 || secbytes)[0:16]` and `macA = SHA1(encA)`
`encB = SHA1(0x02 || secbytes)[0:16]` and `macB = SHA1(encB)`

Then the sender/receiver decides which pair to use based on who is higher.

And the extra symmetric key is `extra = SHA256(0xFF || secbytes)`

So **both the encryption keys and the extra symmetri

[2017-11-11 05:15] claucece opened #42 "Implement the interaction with the prekey server"
As it will be defined in [issue 77](https://github.com/otrv4/otrv4/issues/77). This will replace the mock of #36 , but keep in mind what has been implemented there.

[2017-11-11 05:28] claucece opened #43 "Correctly generate the ssid and the shared secret (for non interactive)"

[2017-11-11 16:28] claucece commented on #43
Closed on c5b04794232550eae06ea636a488a15b274416fa

[2017-11-11 16:28] #43 closed

[2017-11-14 18:22] claucece commented on #42
As it would probably be defined here: https://github.com/otrv4/otrv4-prekey-server

[2017-11-17 15:52] #40 closed

[2017-11-18 16:37] claucece commented on #42
This includes (maybe):
- [x] Structure of prekey server.
- [x] Validation of each prekey message returned by server.
- [x] DAKEZ with server: when does it start?
- [x] Query/or similar to server.
- [x] Incorporate a sending data message on non interactive msg from client.
- [x] Questions:
  - [x] can the enc msg on non interactive auth append tlvs?  No
  - [x] can the enc msg on non interactive au

[2017-11-22 15:56] natalieesk commented on #39
This may have been fixed by the completion of #13. If no more flaky mem leaks occur in this next week, we can close this issue.

[2017-11-22 16:21] tuliocasagrande commented on #24
TODO:

- [x] IGNORE_UNREADABLE flag
- [x] Make heartbeat time configurable (in OTRV4_STATE_ENCRYPTED_MESSAGES)
- [x] Build heartbeat message

[2017-11-24 21:26] claucece commented on #36
Closed on 9676337579e3591d1e5121f927eed87e4899c0e8

[2017-11-24 21:26] #36 closed

[2017-11-24 21:36] claucece commented on #39
As found by @tuliocasagrande , these mem leaks still show up:

[code]

[2017-11-25 05:46] claucece commented on #22
Unless it is not enough, closing this issue on 10c52e49d4a167e566cd95bb8edea451be4c33c3 Will reopen if needed.

[2017-11-25 05:46] #22 closed

[2017-11-30 21:39] natalieesk commented on #24
[deleted todo about errors]

[2017-11-30 21:51] claucece commented on #24
@natalieesk Why is ERROR_1 part of this issue? It is part of #2 . Errors, in fact, have not been properly defined as to implement them. When the IGNORE UNREADABLE flag is NOT set, that error is used. That error has nothing to do with heartbeats.. so why is it part of this issue?

[2017-11-30 21:56] claucece commented on #24
And also, the IGNORE_UNREADABLE flag is not set to false. It is usually set to '0x01', which is a code that flags have. If, for example, on the future, another flag is defined.. it should be set to another code, like '0x02' or similar :)

[2017-11-30 22:45] natalieesk commented on #24
Hey, fair question. So part of this story is implementing the IGNORE_UNREADABLE flag. As there is logic around this flag relating to errors, it seemed reasonable to include that here. So you check what happens when the flag is set and check what happens when it's not. I had perceived that other story to be more about error handling, and not the reply_with_errors part. I don't think this is too muc

[2017-11-30 23:11] claucece commented on #24
There is a lot of other errors that we did not include.

The error is not part of heartbeat as the flag IGNORE_UNREADABLE is not per se for heartbeat messages.

[2017-12-04 15:27] claucece commented on #37
Possibly related and a continuity to #2

[2017-12-07 18:00] claucece opened #44 "Free when is actually needed"
On several places on the library, some things that don't need to be freeded are being done so. Check for example what was done here: 0a75ad0a5bae5bc1bfaa3e3e86bcd78a213d3c09. A data_message_free(msg) was called when only a free(msg) was needed. This should be checked consistently on the library as well as on tests.

[2017-12-07 18:02] claucece commented on #44
Compiler seems to not correctly check that on some cases.
There is also some cases of dereferrencing gone wrong, possibly adding the 'fdelete-null-pointer-checks ' will give more insight on this.

[2017-12-08 15:51] natalieesk opened #45 "Fix Pidgin Plugin to work with shared prekeys"
Pidgin plugin is broken with the introduction of shared prekeys in libotrv4

[2017-12-11 04:40] claucece commented on #2
Closed on a39fd8d5b9674fdd7e11e293f9bf00de2215a560

[2017-12-11 04:40] #2 closed

[2017-12-12 18:00] claucece commented on #44
Closed with fb7ee57e374cdd49ccf66e1267f42749450b9963

[2017-12-12 18:00] #44 closed

[2017-12-13 07:56] claucece commented on #37
Closed on fa8fb4263445bb8c7e624f847e7410fd11d3cd1c

[2017-12-13 07:56] #37 closed

[2017-12-14 03:53] claucece commented on #32
To check:
- [ ] Meta instance tags
- [ ] Fragmentation
- [ ] Context
- [ ] Resend messages by time: lastsent,lastrec
- [ ] OTR offer
- [x] Check OtrlSessionIdHalf for ssid
- [ ] Old mac keys on context_priv
-  [ ] Other error codes from otrv3
- [ ] Logged in
- [ ] Disconnect all instances
- [ ] otrl_message_poll_get_default_interval
- [ ] privkey.h
- [ ] tlv.h
- [ ] version.h and m4
- [ ] possibly

[2017-12-19 17:29] claucece opened #46 "Invalid read of size 16 on memchr and fgets"
On OsX, Xcode 8.3, there are an 'Invalid read of size 16' on:
1. test api/smp
2. test api/smp_abort
3. test api/dh_rotation
4. test instance_tag/generates_when_file_is_full
5. test client/sends_fragments

They are related to memchr and fgets on extract_tlvs function. Seems like uint8_t tlvs is not initialized or not null terminated, or tlvs are being dereferenced.

This seemed to have been hidden

[2017-12-19 17:31] claucece commented on #46
For the moment, these complains by valgrind are sort of suppressed by the .supp file.

[2017-12-19 17:35] claucece commented on #46
Might be caused by:
- [x] Not correctly including memchr: no
- [x] A null terminator that is not where it should be: no
- [ ] Some optimization on BASIC: the cause
- [x] A wrong read.

[2018-01-09 17:54] #45 closed

[2018-01-09 18:01] natalieesk commented on #24
Does not integrate with Pidgin plugin. We may want to do this as a different issue.

[2018-01-09 18:01] #24 closed

[2018-01-10 22:56] claucece commented on #46
Suppressions have been added to the valgrind supp file as this is due to optimization.

[2018-01-10 22:56] #46 closed

[2018-01-21 15:26] claucece opened #47 "Take the shared prekey and phi from the client"
## Why

A library should be able to take values from a client and not use dummy values.

## Reference

Replace dummy values introduced on 208388bbd9d1ff606f319bed7f22259a19d0ce49

## Tasks
- [x] Check that `phi_val` variable needs to be actually a char.
- [x] On otrng.c, check this code and remove the dummy value:

[code]

- [x] On otrng.c, remove the dummy value (notice that this variable name is

[2018-01-21 15:32] claucece opened #48 "Correctly handle memory and functional behavior of TLVs"
## Why

A library should be sufficiently secure and functional in the ways it is written.  TLV handling should follow that.

## Reference

As the TODO here included: ee751f0caad3a4cf90f92dd73c8268a158e72454 and as discussed here: https://github.com/otrv4/libotrv4/commit/f1bfaff168ebba21b50a5485495207a8dd20f868 and here https://github.com/otrv4/libotrv4/commit/f93d7b43fa830738c8f63b6152aead47d814c2

[2018-01-21 15:33] claucece opened #49 "Implement Heartbeat Messages"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to correctly implement heartbeat messages.

## Reference

The current implementation seems not to scale to work with a client.

See "Data Exchange" section, second paragraph, and "Receiving a Data Message" section for reference around heartbeat messages

For further information, check issue #24

## T

[2018-01-26 06:17] claucece opened #50 "Check the double ratchet implementation"
Some things might be missing or incorrect.

[2018-02-02 06:46] claucece commented on #6
For this, should be checked:
- [x] that everything that should be static is static.
- [x] separate the internal header files from the API ones.

[2018-02-02 06:47] claucece opened #51 "Should we include a copyright statement in the files?"

[2018-02-02 06:48] claucece commented on #32
Also check:
- [ ] fingerprint_seen_otr3 seems a bit shortsighted. maybe we should just give a "version" argument to fingerprint_seen instead?
- [ ] Implement or check most of the otrv4_client_callbacks_ functions

[2018-02-02 06:49] claucece opened #52 "Should we really use enums? Maybe try to use the "string" enum pattern instead?"
## Why

The library should use good C practices.

## Reference

21st Century C, chapter 7, "Enums and string". The way "open" syscalls work.

## Tasks
- [ ] Check the current behavior of enums.
- [ ] Consider changing them to the "string" enum pattern if found needed.
- [ ] Change the needed ones.
- [ ] Add to our 'style.md' file this idiom for the library, and state why it is good to do this.

##

[2018-03-18 16:57] claucece opened #53 "Include an out-of-order double ratchet"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include an out-of-order double ratchet.

## Reference

Please, refer to "Interactive DAKE Overview" and "Non-Interactive DAKE Overview" for knowing how to initialize the Double Ratchet after the DAKE, on the OTRv4 specification.

Refer to "When you send a Data Message:" and "When you receive a Dat

[2018-03-18 16:59] claucece commented on #50
This is now included in #53

[2018-03-18 16:59] #50 closed

[2018-03-18 17:00] claucece commented on #49
The current implementation of them should work at a plugin and client level. The current implementation of heartbeat messages should be reviewed then.

[2018-03-18 17:07] claucece opened #54 "Add discarding flows to receiving the plaintext with whitespace tag"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include discarding flows to receiving the plaintext with whitespace tag.

## Reference

Please, refer to "Receiving plaintext with the whitespace tag" section on the OTRv4 specification for details.

Consider #14

## Tasks
- [ ] Check policies at a client level.
- [ ] Queue the message for encrypt

[2018-03-18 17:12] claucece opened #55 "Correctly delete and store secret information"
Please, refer to the "Interactive DAKE Overview", "Non-Interactive DAKE Overview", "User Profile", "Rotating ECDH Keys and Brace Key as sender" and "Rotating ECDH Keys and Brace Key as receiver".

Beyond these sections, check that everything is securely deleted or stored. Check that we are using safe C functions for this. If possible define how this secure deletion is taking place.

[2018-03-18 17:15] claucece opened #56 "Check that points are multiplied by the cofactor when needed"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of safely using points.

## Reference

Please, refer to the "Generating Shared Secrets" section of the OTRv4 spec.

## Tasks
- [x] Check if the encoding function is actually multiplying by cofactor.
- [x] Check if the decoding function is actually multiplying by cofactor.

[2018-03-18 23:05] claucece opened #57 "Check the SCALAR and POINT type"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using POINT and SCALAR type .

## Reference

Please, refer to the "Encoding and Decoding" section of the OTRv4 specification.

## Tasks
- [x] Check the functions are correctly encoding points and scalars.
- [x] Check that everything needed to is encoded as 'POINT'.
- [x

[2018-03-18 23:07] claucece opened #58 "Check and include more values to Phi"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a more values to the `phi` value .

## Reference

Please, refer to the "Shared Session State" section of the OTRv4 specification.

## Tasks
- [x] Include to the `phi` value the session identifier mandated by the OTRv4 spec.
- [x] Concatenate this prior value to a value set up by the client

[2018-03-18 23:07] claucece opened #59 "Check the OTR errors"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using OTR errors.

## Reference

Please, refer to the [OTR Error Messages](https://github.com/otrv4/otrv4/blob/master/otrv4.md#otr-error-messages) section of the OTRv4 spec.

## Tasks
- [x] Check the `otrng_error_message` and if it is correctly used, for example.
- [x]

[2018-03-18 23:08] claucece opened #60 "Correctly use the KDFs"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using KDFs.

## Reference

Please, refer to the "Key Derivation Functions" section of the OTRv4 spec.

## Tasks
- [ ] Only use `KDF_1` on the library.
- [ ] Check that we use a correct usageID for each time a KDF is used, as defined on the spec.

## Open questions
- Sho

[2018-03-18 23:09] claucece opened #61 "Check that the brace key is correctly derived"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of deriving the brace key.

## Reference

Please, refer to the "Generating Shared Secrets" section of the OTRv4 spec.

Check issue #53

## Tasks
- [x] Check that it is correctly derived with the correct initialization of the double ratchet algorithm.
- [x] Check that its d

[2018-03-18 23:11] claucece opened #62 "Check the protocol state transition between OTRv3 and OTRv4"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using both state machines.

## Reference

Please, refer to the "The Protocol State Machine" section of the OTRv4 spec.

## Tasks
- [x] Check that every state machine is correctly initialized depending on the version.

## Depends on / Related to

Issue #65

## Open quest

[2018-03-18 23:15] claucece opened #63 "Include out-of-order fragmentation"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using the fragmentation.

## Reference

Please, refer to the "Fragmentation" section of the OTRv4 spec.

## Tasks
- [x] Check how the fragmentation is working on data messages and change to the new way.
- [x] Check how the reasembly is working on data messages and chang

[2018-03-18 23:17] claucece opened #64 "Correctly derive the extra symmetric key"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using the extra symmetric key.

## Reference

Please, refer to the "Extra Symmetric Key" section of the OTRv4 spec.

## Tasks
- [x] Check how the sym key functionality is working and if it can work with a client.
- [x] Check and change the KDF being used in the needed f

[2018-03-18 23:20] claucece opened #65 "Check the protocol state machine"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using the protocol state machine.

## Reference

Please, refer to the "The protocol state machine" section of the OTRv4 spec.

## Tasks
- [x] Check that all of the states are correctly set.
- [x] Check that all protocol events match the otrv4 spec.
- [x] Check the recei

[2018-03-18 23:23] claucece opened #66 "Consider OTRv4 modes"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using the OTRv4 modes. Note that we are currently implemeting OTRv3-compatible mode.

## Reference

Please, refer to the "OTRv4 Modes" section of the OTRv4 spec.

## Tasks
- [ ] Check how the library will allow the different modes.
- [ ] Check how a client can know abou

[2018-03-18 23:26] claucece opened #67 "Generalize the RSig function"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using the RSig function.

## Reference

Please, refer to the "Ring Signature Authentication" section of the OTRv4 spec and issue 99 of it.

## Tasks
- [x] Check how RSig and RVerf are working on the auth.c file.
- [x] Check if those functions can be generalized and do s

[2018-03-18 23:28] claucece opened #68 "Check how an encrypted message is attached to the Non-Interactive-Auth message"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of attaching an encrypted message to the Non-Interactive-Auth message.

## Reference

Please, refer to the "Attaching an Encrypted Message to Non-Interactive-Auth Message in XZDH" section of the OTRv4 spec.

## Tasks
- [x] Correctly attach the message to the Non-Interactiv

[2018-03-18 23:33] claucece opened #69 "Check how instance tags are managed"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using Instance Tags.

## Reference

Please, refer to the "Instance Tags" section of the OTRv4 spec.

## Tasks
- [x] Check how instance tags are managed.
- [x] Check how instance tags are been get from the client.
- [x] Correctly use the callbacks for instance tags.
- [x

[2018-03-18 23:34] claucece opened #70 "Correctly derived the SSID"
As define in the OTRv4 specification, section "Secure Session ID".

[2018-03-18 23:35] claucece opened #71 "Correctly expire the session"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of expiring the session.

## Reference

Please, refer to the "Session Expiration" section of the OTRv4 spec.

## Tasks
- [x] Correctly calculate MAC keys for stored message keys.
- [x] Modify TLV 1 so it can have MAC keys.
- [ ] Correctly set up a secure clock for expiring

[2018-03-18 23:40] claucece opened #72 "Define which functions to expose"
Check the `STRUCTURE.md` file on the repo.

[2018-03-18 23:41] claucece opened #73 "Correctly document the functions"
A style format for how to manually document functionality is needed.

For the actual documentation of all the functionality, we need the whole 'Full OTRv4 flow #2' done and issue #72 done.

[2018-03-18 23:43] claucece opened #74 "Correctly configure with debug options"

[2018-03-18 23:46] claucece opened #75 "Correctly profile with GProf"
GProf is a tool for profiling.  It was tried to be introduced on the library on several occasions without any success:

https://github.com/otrv4/libotr-ng/commit/7171804449c39d878478da6bbdc148541fb6d016
https://github.com/otrv4/libotr-ng/commit/45350d19e2b9df57cf33f7efc7c421e084d07d15

We should try to use it (of course, if we want to have profiling).

[2018-03-25 03:48] claucece opened #76 "Check the state machine transitions"
Either add new cases or check the old ones.

[2018-03-25 06:39] claucece opened #77 "Fully support instance tags"
See TODO on line #63 of src/client.c

[2018-03-25 06:42] claucece opened #78 "Implement Prekey profiles and re-implement Client Profiles"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using user profiles and prekey profiles.

## Reference

Please, refer to the "Client Profile" and "Prekey Profile" section of the OTRv4 spec.

## Tasks
- [x] Take appropriate values for the Client Profile from the client.
- [x] Generate all values for the Prekey Profile

[2018-03-25 06:44] claucece opened #79 "Queue messages to be sent over an encrypted state"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of queueing plaintext messages to an encrypted state.

## Reference

Please, refer to the "Sending a Data Message"  and "Receiving plaintext with the whitespace tag" section of the OTRv4 spec. Please, check some of the TODOs over the library that refer to "queueing".

## T

[2018-03-26 02:28] claucece opened #80 "Kill TODOs"
A day to be defined to kill most of the TODOs.

[2018-04-02 05:22] claucece opened #81 "Check for secure memory allocation and free"
## Why

A library should be sufficiently secure in the ways it is written.

## Tasks
- [ ] Check that all pointers are freed when needed.
- [x] Check that all pointers are nullified when freed.
- [ ] Check that all pointers are correctly allocated.
- [ ] Check that valgrind locally and on the CI machines does not report an error.

## Open questions

None.

[2018-04-02 05:28] claucece opened #82 "Check that Old Mac keys are correctly revealed"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of revealing MAC keys.

## Reference

Please, refer to the "Revealing MAC keys" section of the OTRv4 spec.

## Tasks
- [x] Check that the list of the old mac keys is correctly set up.
- [x] Check that all old mac keys are included in the appropriate list.
- [x] Check that

[2018-04-02 05:28] claucece opened #83 "Check the SMP"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using SMP.

## Reference

Please, refer to the "Socialist Millionaire's Protocol" section of the OTRv4 spec.

## Tasks
- [x] Check that everything around SMP is consistent with the spec.
- [x] Check that SMP's TLV are correctly used.

## Open questions
None.

[2018-04-02 05:53] claucece opened #84 "Kill global variables on some tests"

[2018-04-02 05:55] claucece opened #85 "Check for NULL dereferencing"
## Why

A library should be sufficiently secure in the ways it is written.

## Reference

[Null pointer](https://en.wikipedia.org/wiki/Null_pointer)

## Tasks
- [ ] Check that pointers do not NULL dereference.

## Open questions

None.

[2018-04-02 06:17] claucece opened #86 "Choose a library name"
Something different than libotr4.

[2018-04-02 13:58] claucece opened #87 "Use libgoldilocks instead of libdecaf"

[2018-04-02 22:28] #87 closed

[2018-04-04 00:02] claucece opened #88 "Prekey Key Server"
Where to publish:
- [ ] Client Profiles
- [ ] Prekey Profiles
- [ ] Prekey messages

[2018-04-04 00:03] claucece opened #89 "Implement the new key derivation for the first ratchet"
Derived from the shared secret: `r = KDF_1(0x19 || K, 57)`.

[2018-04-04 19:40] olabini commented on #86
This is fixed. The new library name is libotr-ng

[2018-04-04 19:40] #86 closed

[2018-04-04 19:43] olabini commented on #51
There are a few different parts to this issue. First one is to decide on a license - we have decided on LGPL for the library code, since this matches the previous libotr implementation.

We will have something in all source files. I will work on putting everything in the repo that we need.

[2018-04-05 16:47] claucece commented on #4
For a mode where online and offline are accepted, the same Prekey Server can be used. For a mode with no offline, we need to define how to publish.

[2018-04-05 18:06] juniorz commented on #74
I considered adding `./configure --enable-debug` once, but stackoverflow seems to have reasons for not liking this: https://stackoverflow.com/questions/4553735/gnu-autotools-debug-release-targets

I believe the main arguments against are:
(i) autotools is intended to build C projects in a portable way, and is virtually impossible to reasonably anticipate what the "debug" flags should be for every

[2018-04-05 18:11] juniorz commented on #74
We need to define what is the expected outcome of this.

- What is necessary to "correctly configure with debug options"?
- What must be automated vs documented?
- What is the impact on portability and what is our target for portability in regard to this?

[2018-04-05 18:20] juniorz commented on #52
Is this about not using enums at all in the library?

What is the "string" enum pattern?

[2018-04-05 18:56] juniorz commented on #74
I also noticed the project already has a `--enable-debug` (see: m4/ax_check_enable_debug.m4) and the README instructs to use `-ggdb3` in `clang` (which may have no effect).

[2018-04-05 21:45] #51 closed

[2018-04-05 23:24] claucece opened #90 "Fix code coverage"
As reported by @deniscostadsc , this shows up when running `make coverage-check` with the coverage flag on some os:

`lcov: ERROR: no valid records found in tracefile libotr-ng-0.0.1-coverage.info.tmp`

Seems like an error with lcov... but might be worth looking into it.

This works on the travis machines.

Thanks @deniscostadsc

[2018-04-05 23:40] claucece commented on #52
Yes. It is about considering avoiding them when it seems unuseful.

This was proposed by @olabini on an email sent to the team. It basically corresponds to a "good practice" recommended by 21st Century C, chapter 7, "Enums and string". The pattern basically corresponds on using strings for whatever a enum is used for.

[2018-04-05 23:51] claucece commented on #74
Basically, that it works on gcc and clang.

I guess only those two. Any other special need should not be documented.

This is more a an issue for ourselves rather than for the public. These flags should only be for maintainers only, and warn that most of the time they shouldn't be used. I've seen several libraries only do this and go until there.

Yes. It is I think different from the one stated o

[2018-04-05 23:57] claucece opened #91 "Check all macros for correct behavior"
## Why

A library should be sufficiently secure in the ways it is written.

## Reference

21st Century C, Chapter 8, "Cultivate robust and flourishing macros"

## Discussion

All declarations can be at the head of the block or let them happen as needed.

## Tasks
- [ ] Check for the usage of parens in them.
- [ ] Avoid double usage.
- [ ] Add curly braces for blocks.

## Open questions

None.

[2018-04-06 13:19] olabini commented on #52
If you don't have the book in front of you, a good example is the
"open" syscalls, and how they are implemented in many languages, so
that the mode is specified using a combination of "r" ,"w", "+", and
so on. So if you want to open for reading and writing: "rw" - if you
want to write and append "w+", etc. The idea is that it's both easier
to validate and work with, and since C enums are so unsafe

[2018-04-06 15:37] juniorz commented on #47
It should be enough to do only the part that is in libotr-ng: provide a way to input `phi` and the shared prekey when a messages needs them.

I propose merging the `phi` part with #58 and leaving this as generating the shared prekey.

[2018-04-06 15:41] juniorz commented on #48
In an attempt to summarize the mentioned discussions, I believe this is about: Double check if "auto-generated" TLVs (padding, and maybe the SMP-related - see #83) can work together with user's TLVs.

I believe the concern here is memory management. Double check how the API can be used to send a message with no user's TLVs (using `NULL` should be enough), and review `append_padding_tlv` thinking a

[2018-04-07 05:42] claucece commented on #16
For the moment, please, don't look at this issue. It should be moved once we move the work to the pidgin plugin.

[2018-04-07 05:50] claucece commented on #89
Closed as covered by issue #53

[2018-04-07 05:50] #89 closed

[2018-04-07 06:07] claucece commented on #54
@olabini This might be work for later, but should we consider some kind of policies at a plugin level?

[2018-04-07 06:49] claucece commented on #60
@olabini Do you think we should use "OTRv4" as the domain separation for the function?

[2018-04-07 07:37] claucece commented on #65
@deniscostadsc I saw you assigned this. Thanks for that. Do you have any question around this issue?

[2018-04-08 07:36] claucece commented on #77
Included over #69

[2018-04-08 07:36] #77 closed

[2018-04-08 07:37] #76 closed

[2018-04-08 07:39] claucece commented on #39
Close as we are tracking over #81

[2018-04-08 07:39] #39 closed

[2018-04-08 07:48] claucece opened #92 "Match variable names to those over the spec"
## Why

A library should use the same variable names as the OTRv4 specification or the ones that make sense.

## Reference

The OTRv4 specification.

## Tasks
- [ ] Check that all variable names are consistent with the OTRv4 spec.

## Open questions

None.

## Notes

If needed variable names can change on the OTRv4 spec.

See the UPDATE.

[2018-04-09 03:38] claucece opened #93 "Let all declarations be at the head of the block"
## Why

A library should be sufficiently useful and clear in the ways it is written.

## Reference

21st Century C, Chapter 7, "Let declarations Flow"

## Discussion

All declarations can be at the head of the block or let them happen as needed.

## Tasks
- [ ] Discuss if we have declarations at  head of the block or let them happen as needed.

## Open questions

- The issue itself

[2018-04-09 03:48] claucece opened #94 "Should we use switch?"
## Why

A library should be sufficiently useful and clear in the ways it is written.

## Reference

21st Century C, Chapter 7, "switch"

## Discussion

Should be use switch? Are if and else easier to read?

## Tasks
- [ ] Discuss if we use switch.

## Open questions

- The issue itself

[2018-04-09 03:58] claucece opened #95 "Check variable names"
## Why

A library should be consistent in its variable names.

## Reference

The whole libotr-ng.

## Tasks
- [ ] Check that all variable names are consistent, e.g., message is `msg` all over, and not `message`, `mess`, etc.

## Open questions

None.

[2018-04-09 04:00] claucece opened #96 "Check the usage of booleans"
## Why

A library should be sufficiently consistent in the ways it is written.

## Reference

21st Century C, Chapter 8, "True and False", page 147.

## Discussion

When should be use bool.h? Are errors behaving the same as booleans?

## Tasks
- [x] Discuss when should we use bool.h
- [x] Discuss how errors are been used and if they should have a similar "boolean" behavior
- [x] Check that if stat

[2018-04-09 04:19] claucece opened #97 "Check for type safety"
## Why

A library should be sufficiently secure in the ways it is written.

## References

[Type safety](https://en.wikipedia.org/wiki/Type_safety#C)

## Tasks
- [ ] Check all library for type safety.
- [ ] Check that valgrind locally and on the CI machines does not report an error.

## Open questions

- Should be use a static analyzer?

[2018-04-09 04:24] claucece opened #98 "Implement functionality to publish Client profiles, Prekey profiles and prekey messages"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using publishing user profiles, prekey profiles and prekey messages.

## Tasks
- [x] Create a functionality to publish Client profiles, Prekey profiles and prekey messages

## Depends on

Issue #78 to be finished.

## Open questions

None.

This depends on #108

[2018-04-09 04:27] claucece opened #99 "Remove some values from the Prekey message"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using prekey messages.

## Reference

Please, refer to the "Prekey Message" section of the OTRv4 spec.

## Tasks
- [x] Remove User Profiles from the Prekey Message.
- [x] Make the Non-Interactive DAKE use these prekey messages, user profiles and prekey profiles separate

[2018-04-09 07:05] olabini commented on #4
I think we can still use the Prekey Servers as the standard for this - but maybe in XMPP exposed under a different service name.

[2018-04-09 07:06] olabini commented on #6
I have made sure we have the structure for this, but the actual separation of things need to be done. I think we should use development of the plugin to drive this, so probably not something we can do early.

[2018-04-09 07:09] olabini commented on #27
No, I don't think we should omit the OTRv4 fingerprint, since then we reduce the security of the connection to the security of the OTRv3 key - and the whole point of updating to modern algorithms and sizes is that the old OTRv3 signing is not strong enough anymore.

[2018-04-09 07:10] olabini commented on #28
I think we need to be careful to not do too much of the instance tag management in the libotr-ng - I suspect the plugin should be more responsible for this, just as we have it in the otr3 for Go-lang.

[2018-04-09 07:11] olabini commented on #32
When it says backwards compatible, it doesn't actually mean backwards compatible - it means all the functionality should still work and be available, but not with the same API.

[2018-04-09 07:12] olabini commented on #47
Maybe make an API in libotr-ng that specifies the different things that can go in to `phi` - for example `alice_identity`, `bob_identity`, `prearranged_password`

[2018-04-09 07:13] olabini commented on #49
What are the open questions for this issue?

[2018-04-09 07:15] olabini commented on #56
I'm a bit confused here - it seems the tasks are about fragmentation, but the issue says it's about multiplying curve points.

[2018-04-09 07:16] olabini commented on #58
This seems to slightly overlap with #47

[2018-04-09 07:16] claucece commented on #49
@olabini The behavior of the 'IGNORE_UNREADABLE' is not correctly defined on otrv3 spec, but it is defined over libotr3. Some TLVs on libotr3 have this flag set even though it is not 'specifically' defined as so on the spec. This was a cause of discussion on the past. So, I was proposing to double check this with Dave Goulet or DrWhax.

[2018-04-09 07:17] olabini commented on #60
I personally think using "OTRv4" as the domain separation should be fine. Are there any arguments against?

[2018-04-09 07:20] olabini commented on #67
It would be good if RSig can be general enough that the OTRv4 prekey server can use it too.

[2018-04-09 07:22] claucece commented on #58
@olabini #47 is more about replacing dummy values introduced and actually taken functionality from client (phi and the shared prekey), whereas this issue is about defining `phi`.

[2018-04-09 07:23] claucece commented on #60
@olabini No. Thanks!

[2018-04-09 07:25] olabini commented on #91
In general, we shouldn't use very many macros at all.

[2018-04-09 07:26] olabini commented on #92
Is this the case even when variable names in the specification uses upper case or other things that go against our C style guide?

My proposal is that we follow C style first, and OTRv4 spec names second.

[2018-04-09 07:26] olabini commented on #93
In most cases, our functions shouldn't be large enough that this causes a big difference.

[2018-04-09 07:27] olabini commented on #94
I personally think switches are fine to use, in some circumstances.

[2018-04-09 07:28] olabini commented on #58
Ah, OK. That's why I said "slightly" only... =)

[2018-04-09 07:28] olabini commented on #56
Cool. I'll remove these comments since they are not useful anymore. Including this one. =)

[2018-04-09 07:29] claucece commented on #92
@olabini

When I mean the variable name, I'm talking about the name itself regardless of the written format on the OTRv4 spec (uppercase, Camel Case). The name should follow the name of the OTRv4 spec, and the written format of it should follow our style guide. ;)

[2018-04-09 07:29] olabini commented on #49
Ah, I see. We should definitely define it, since it's part of the messages.

[2018-04-09 13:39] deniscostadsc commented on #65
@claucece hi. Yeah I had questions, but there is nothing more to check on out-of-order... :+1:

:heart:

[2018-04-09 17:53] deniscostadsc commented on #65
Does this mean all transitions should be checked?

[2018-04-10 02:00] claucece commented on #6
Yes, this is something to be done right at the end of the libotr-ng work @olabini

[2018-04-10 02:04] claucece commented on #4
@olabini ok :)

[2018-04-10 02:05] claucece commented on #14
For the moment, please, don't look at this issue. It should be moved once we move the work to the pidgin plugin.

[2018-04-10 02:05] claucece commented on #26
For the moment, please, don't look at this issue. It should be moved once we move the work to the pidgin plugin.

[2018-04-10 02:07] claucece commented on #28
For the moment, please, don't look at this issue. It should be moved once we move the work to the pidgin plugin.

[2018-04-10 02:08] claucece commented on #42
For the moment, please, don't look at this issue. It should be moved once we move the work to the prekey server spec is done.

[2018-04-10 02:13] claucece commented on #65
Already answered but just for the record, yes. :)

[2018-04-10 02:13] claucece commented on #67
True. I'll add that task :)

[2018-04-10 02:19] claucece commented on #94
@olabini Yeah... but maybe on some places we can simplify its use.

[2018-04-10 02:20] claucece commented on #91
Yeah.. also that.. ;)

[2018-04-10 02:26] claucece opened #100 "Add an 'authors' file"
Add a file with the current developer/maintainer team, and the past contributors.

[2018-04-10 05:31] olabini commented on #100
We already have a CONTRIBUTORS file - in what way is this different?

[2018-04-10 05:32] claucece commented on #100
Oh, we do? Sorry, I missed that. Will close this then. Thanks.

[2018-04-10 05:32] #100 closed

[2018-04-10 05:58] olabini commented on #94
Oh yeah, absolutely. We should obviously strive to write as clear and simple code as possible!

[2018-04-10 08:47] claucece opened #101 "Refactor tests"
## Why

A library should be correctly tested.

## Reference

Please, refer to the test folder.

## Tasks
- [ ] Understand the scope of the test and remove what does not correspond to it.
- [ ] Focus on creating tests that test overall functionality rather than unit test.
- [ ] Think about what to expose for tests.
- [ ] Check the variable names.
- [ ] Remove repeated tests.

## Open questions
None

[2018-04-10 08:49] claucece commented on #56
Consider changing the point serialization function's name to 'encoding' and 'decoding'.

[2018-04-10 08:50] claucece commented on #95
List of names to be consistent with (in progress):

- 'shared' for 'shared_secret'.

[2018-04-10 12:56] olabini commented on #48
@claucece - could you please expand on "Some TLVs that don't have the 'value' type are been putted like so, for example." - I'm not sure I understand what you mean here.

[2018-04-10 12:59] olabini commented on #48
OK, the only thing left on this one is the final point needing clarification from @claucece - and then a once over of all the TLV usage in the code base. But it looks pretty good right now.

[2018-04-10 13:44] juniorz opened #102 "Missing symbols with libgcrypt 1.7.8"
`make test` (and also `make coverage-check`) fail with the following error on libgcrypt 1.7.8

[code]

Note there is no `.o` files from libgcrypt added during the linking phase.

The output of `./configure` does not seem to find the installed version of libgcrypt (note there is no check for the minimum version 1.6.0 if the maximum version is not found):

[code]

As a temporary fix, I have on my lo

[2018-04-10 13:57] juniorz commented on #102
I suspect `AM_PATH_LIBGCRYPT` may not be reentrant.

I also think we are using the `configure.ac` in attempt to enforce the runtime version of libgcrypt (at least 1.8.0 if available, at least 1.6.0 otherwise), which seems to be the role of the package (because different operating systems may have different libgcrypt packages available at runtime).

If we don't use any API that is only available si

[2018-04-10 14:43] deniscostadsc commented on #65
Sending TLV type 1, in all states, transition state machine to START state. This is pretty clear on the Sate Machine section[1].
But is not clear for me if receiving TLV type 1, transition state machine to FINISHED state no matter which state it was before[2]. It's clear that happens when the participant receives a TLV type 1 when in ENCRYPTED state.

That stated, how should state machine bahave w

[2018-04-10 17:05] claucece commented on #48
@olabini This is part of a very big question. First the SMP tlvs are not really tested from an API level. See this test: https://github.com/otrv4/libotr-ng/blob/master/src/test/test_smp.c#L25 that returns prior to be executed. On tests that should test the API (and functions from there, for example, the ones used for a state machine), we are using tlv unit functions. See: https://github.com/otrv4/

[2018-04-10 18:00] juniorz commented on #60
The spec suggest the `KDF_1` function to receive a single `values` parameter. In practice, it leads to using more memory than necessary, since we first need to concatenate everything in a single buffer and later write this buffer to the shake "hash context".

Is there any reason to use this same conceptual API in the concrete `KDF_1` function? Or should we progressively write to the shake context

[2018-04-10 18:02] olabini commented on #60
Hi,

There is definitely no need for our API's to look the same as the
conceptual functions in the spec, as long as the output matches.

--
 Ola Bini (https://olabini.se)

 "Yields falsehood when quined" yields falsehood when quined.

[2018-04-10 18:03] claucece commented on #60
No, what this actually means is that you take several values, not that you take the concatened buffer. If not, it will say "concatenated buffer" or something similar.

Match how SHAKE is used in the library. ;)

[2018-04-10 22:03] claucece commented on #65
I'm just answering for documentation, as we already talked about this :) A TLV type 1 is sent attached to a data message, and it is only sent over `ENCRYPTED_MESSAGES` state, as well as received. If it is received in any other state (prob because an out-of-order happened), as data message is either ignored or queued for later encryption. The protocol is not clear around this.

No. But we should de

[2018-04-10 22:10] claucece commented on #73
Let's document with this structure:

For functions:

[code]

For structures:

[code]

@giovaneliberato

[2018-04-11 07:34] olabini commented on #102
If I remember correctly, our library _builds_ with earlier versions if we wanted to. But the problem was that some 1.7 versions had serious security problems, that was fixed in a patch release on some places. The idea was to check for either 1.8 OR that patch release, but I'm not sure if that was actually happening or not, or if that work was finished or not. Does someone remember which security i

[2018-04-11 07:36] olabini commented on #48
About OTRNG_TLV_NONE - the only place it can happen is when we receive a TLV type that we don't recognize. Since that is something that can happen, and we're using an enum type for the TLV type, I do think we need to keep it.

[2018-04-11 07:38] olabini commented on #48
OK, I'll take a look at the points and places you mentioned. But as you say, some of this work is also part of the other two issues. I'll see what I can do, and then declare this issue finished. =)

[2018-04-11 11:32] juniorz commented on #102
@olabini this was the issue: https://github.com/otrv4/libotr-ng/issues/22

EDIT: Not the security issue, but I am adding the previous issue for reference.

[2018-04-11 11:54] juniorz commented on #102
We want to make sure users, at runtime, are not vulnerable to one particular security problem. It is unsure to me if the problem affects specific versions on the 1.6.x (and 1.7.x) releases or if it affects every version before 1.8.

From #22, both Debian (1.6.3-2+deb8u2) and Fedora 25 (1.6.6-1) provide patched packages for the release 1.6.

We do not depend on 1.7 API anymore (we don't use `GCRY_M

[2018-04-11 12:06] juniorz commented on #102
I suspect the referred security issue is: https://security-tracker.debian.org/tracker/CVE-2016-6313

We use both `gcry_random_bytes_secure` and `gcry_randomize`.

[2018-04-11 12:12] juniorz commented on #102
At compile time we only use the MPI API and these two functions. At runtime, we want a version that does not have this security issue: 1.5.6, 1.6.6, 1.7.3 (or greater) should be fine.

[2018-04-11 12:16] olabini commented on #102
OK, that makes sense. So we should be fine compiling against whatever, so we can relax the requirements there. At runtime, as long as we know what the real issue is, can we test for it at startup, and fail or warn?

[2018-04-11 12:42] juniorz commented on #102
I believe so.

libgcrypt has recommendations in regard to how to deal with its initialization: https://www.gnupg.org/documentation/manuals/gcrypt/Initializing-the-library.html

It says that libraries should not initialize and configure libgcrypt without first checking if the application has not done it yet. It suggests to print a warn and initializes libgcrypt if it is not initialized.

We could s

[2018-04-11 12:46] olabini commented on #48
OK, I have now fixed up some of the tests too. I think most of the stuff around TLVs have been fixed. The problems with the API tests are wider than can be covered in this issue, but I've sorted out the issues @claucece pointed out in the above comment.

[2018-04-11 12:46] #48 closed

[2018-04-11 12:50] olabini commented on #94
I have gone through and reviewed all the switches in the current code base. I would argue that they are all fine from a readability standpoint, and I feel comfortable going forward with what we have. Let's keep our eyes on it - but I think we can close this issue.

[2018-04-11 12:50] #94 closed

[2018-04-11 12:53] olabini commented on #84
I'll take a quick look at this

[2018-04-11 13:35] olabini commented on #84
OK, so we had three places with globals in them (all of them static, so not really global).
The first was in test_messaging, that was doing some stuff with callbacks. I felt the APIs it was testing should be rethought, so I removed that test for now - it wasn't actually testing anything.
The second is in dh.c. This is caching of large MPIs. I don't see an obvious way of getting rid of them, withou

[2018-04-11 14:14] claucece commented on #48
Great! Ok, I'll add some further test checking to #101 .

@olabini I vote for removing `OTRNG_TLV_NONE`.

[2018-04-11 14:18] olabini commented on #48
OK. So about OTRNG_TLV_NONE, what should we do when we receive an unknown TLV?

[2018-04-11 14:20] claucece commented on #84
@olabini Thanks! Ok. I'll add this another test situation to issue #101 . Thanks!

[2018-04-11 14:29] claucece commented on #102
@juniorz

Yes! We sort of do that for the tests: https://github.com/otrv4/libotr-ng/blob/master/src/test/test.c#L58

Furthermore, we may also need to check for secure memory: https://github.com/otrv4/libotr-ng/blob/master/src/test/test.c#L61

I will not like to go for the vulnerable version, and tbh, even warning. But that last thing, I think, might be the only thing we could do.

[2018-04-11 14:32] olabini commented on #102
I feel uncomfortable running the library with a vulnerable version. However, doing an exit() from a library is also EXTREMELY rude...

[2018-04-11 14:39] claucece commented on #48
For me, error (return NULL, or bool or whatever is been used). Right now, it seems like we are creating a tlv with type `OTRNG_TLV_NONE`, which shouldn't even exist.

[2018-04-11 14:41] olabini commented on #48
Yeah. We have one or two other places that ignore that TLV, just as we ignore Padding TLVs.
But remember, receiving an unknown TLV is _not_ an error. It's completely allowed by the spec, and we should allow it and treat it by ignoring it.

[2018-04-11 14:53] juniorz commented on #48
I second what @olabini said, they are still "syntactically" valid TLVs
that OTRv4 does know what to do.

Maybe rename `OTRNG_TLV_NONE` to `OTRNG_TLV_UNKNOWN` or
`OTRNG_TLV_UNSUPPORTED`, if the `NONE` is the source of confusion.

[2018-04-11 16:57] juniorz commented on #60
Tasks (to be updated):

- [x] `Fingerprint = KDF_1(0x00 || byte(H), 56)`
- [x] `ECDH h' = KDF_1(0x01 || r, 57)`
- [x] `Brace key = KDF_1(0x02 || k_dh, 32) OR KDF_1(0x03 || brace_key, 32)`
- [x] interactive dake`Mixed shared secret = KDF_1(0x04 || K_ecdh || brace_key, 64)`
- [x] non interactive dake `Mixed shared secret = KDF_1(0x04 || tmp_k || brace_key, 64)`
- [x] `SSID = KDF_1(0x05 || K, 8)`
- [

[2018-04-11 21:02] #56 closed

[2018-04-11 21:06] claucece commented on #96
The way we are using our booleans is kinda weird:
False or error is always 1 and true or success is always 0. This is not compatible with libgoldilocks, where `GOLDILOCKS_TRUE` is -1 and `GOLDILOCKS_FALSE` is 0.

[2018-04-12 06:45] olabini commented on #96
Yeah, this is getting horrible... Honestly, have success being 0 makes code like what you pushed yesterday super confusing:
[code]
This _will_ cause bugs, and probably already have...

So. Why did we do it this way, do you remember?

[2018-04-12 06:52] claucece commented on #96
Yes. This is everywhere. I'll prefer using the standard C way for this, meaning 0 is false.

Well, there are not. I did manually check them long time ago by doing everywhere:

[code]

And you have no idea how many bugs there were ;)

They were introduced at this commit: https://github.com/otrv4/libotr-ng/commit/0a6eacf3e7099a7a7f0f8d3b2cf1801943a0a651

I'll go for changing that.

[2018-04-12 06:56] claucece commented on #48
Mmm...

Yeah. That is why for me, when an unknown type comes, we should not assign anything to it (not a type) and just ignore it (by returning or similar).

No. It is more about assigning something to something that shouldn't, I guess. ;)

[2018-04-12 08:21] olabini commented on #48
Well, the function is set_tlv_type. So, if we don't assign anything, the TLV will end up having type PADDING - which is not correct. So the alternative is that set_tlv_type returns a boolean or error type. It's generally not very common for "setters" to have a result like that, but sure, that's possible.

However, the real problem comes later. set_tlv_type is called from parse_tlv, which returns t

[2018-04-12 08:25] olabini commented on #96
Hahaha, I believe you! I didn't know you had done that. Very good. Or bad.
I'll investigate a bit and then we make a decision.

[2018-04-12 08:37] olabini commented on #96
OK, after some investigation: can we please use just stdbool? I'm not a huge fan of it, but I think, let's just do it and get this done?
As soon as I you give goahead for a solution, I'll go through and fix every place.

[2018-04-12 08:38] olabini commented on #96
And btw, I think error handling is a separate enough issue that maybe we should create a new issue for it?

[2018-04-12 08:52] olabini commented on #73
One open question. This proposal uses [out] and [in] parameters. I used a different style, using [bla] where bla is the name, and not specifying whether it's an out or in parameter (I expected that to be clear from the description of the parameter). We should decide what form to use.

[2018-04-12 08:54] olabini commented on #90
I can't reproduce this either. I think this will have to be checked by someone that actually has the problem

[2018-04-12 08:54] olabini commented on #75
What does this story mean?

[2018-04-12 08:55] olabini commented on #85
Is this story that we should go through and make sure we haven't any places where this happens, or something else?

[2018-04-12 08:57] claucece commented on #48
@olabini Then I guess we should keep `OTRNG_TLV_NONE`. Thanks.

[2018-04-12 09:00] claucece commented on #96
Yeah. On several commits.

I don't like that. But if you think that is good, you can do that.

There is an issue around OTR errors (#59 ), is that what you mean?

[2018-04-12 09:02] claucece commented on #75
This story is part of `LibOTRv4 API` project, for which I haven't putted the description as, as said, we are working over `Full OTRv4 flow #2` project. I'll update the description right now. Thanks for notifying.

[2018-04-12 09:03] claucece commented on #85
Yes.

[2018-04-12 09:04] olabini commented on #96
Sure, if you don't like it, let's do something else. What's your proposal?

About errors, I was answering to this point "Discuss how errors are been used and if they should have a similar "boolean" behavior" from your description.

[2018-04-12 09:06] claucece commented on #87
@olabini The description has been updated.

[2018-04-12 09:06] claucece commented on #75
@olabini The description has been updated ;)

[2018-04-12 09:10] claucece commented on #96
Change the booleans to -1 if true and 0 if false, ala goldilocks. But stdbool is fine.

There are too kind of boolean-like things we have: `otrng_bool_t` and `otrng_err_t`. I was wondering if we should only use one of that types, or if it makes sense to have both.

[2018-04-12 09:12] claucece commented on #73
I guess things are already documented that way, so:

[code]

should be fine. :)

[2018-04-12 09:19] olabini commented on #96
I'm fine with -1 and 0. But my question is more, should we define constant names for things, should we keep the otrng_false and otrng_true thing, will they be enums or something else, etc.

I think there's a good reason to have otrng_bool_t and otrng_err_t be different. Especially because it feels to me like we could sometime expand otrng_err_t and have different types of errors possible to return

[2018-04-12 09:19] olabini commented on #73
Great, thanks! =)

[2018-04-12 09:40] olabini opened #103 "We should rename all types ending in _t"
The POSIX standard actually reserves all type names ending in _t. The C standard only does that for things beginning in int and unit, but it seems like a good idea anyway.

We can use the _same_ name for the struct name, and the struct type. They are different namespaces and don't clash. My personal recommendation is to skip the _s / _t suffix completely. That would give us a struct definition tha

[2018-04-12 09:46] claucece commented on #96
Right now, it is using `static const` for those booleans. I'll go for either that or #define . But, yeah, I guess that is better stdbool as you said.

Yeah. Although both `STATE_NOT_ENCRYPTED` and `MSG_NOT_VALID` are functionally only used one, so we should probably use more meaningful errors, instead of always having success or error.

[2018-04-12 09:48] olabini commented on #96
Yeah. about the errors. Maybe have a helper function bool is_error(otrng_error_t) or something like that.

[2018-04-12 09:55] claucece commented on #96
What was I actually going to was like this, as Mike does it:

https://github.com/otrv4/libgoldilocks/blob/master/src/public_include/goldilocks/common.h#L76

It has a `goldilocks_succeed_if` and `goldilocks_successful` functions.

[2018-04-12 09:56] olabini commented on #96
Yeah, that's fine too, of course!

[2018-04-12 11:41] #91 closed

[2018-04-12 17:52] giovaneliberato commented on #73
Agreed!

[2018-04-12 18:18] deniscostadsc commented on #65
I'll replicate here all points on otrv4/otrv4#106, in order to check them on libotr-ng's code.

- [x] On "Protocol states" section, what happens when a TLV type 1 (Disconnected) message is received? This box suggests that we transition to START, but also to FINISHED.
- [x] On "Protocol events" section, who initializes the protocol with the allowed versions?
- [x] On "Protocol events" > "Query Mess

[2018-04-12 18:43] deniscostadsc commented on #65
We already saw this. When TLV type 1 is received the state machine transition to FINISHED.

[2018-04-12 18:46] deniscostadsc commented on #65
On "Protocol events" > "Query Messages" section, why is it required that users can choose which versions to support?
On "Protocol events" > "Query Messages" section, some information from the version string section is duplicated here. Consider reusing / referencing it.

From what I understood here, those points are related only to allowed version. So they are not applicable to this issue.

[2018-04-12 19:01] annacruz commented on #59
The funcion seems to be working in the right way. All of the calls to the function are also right.
When the function is called it starts to write a new message to be sended, so this new message contains just in the beginning the string '?OTR Error' as specified in the protocol.

[2018-04-12 19:06] deniscostadsc commented on #65
Based on [this comment](V), I think there is nothing to check here.

[2018-04-12 20:56] claucece commented on #59
Hey, @annacruz

Thanks for looking at this.

`otrng_error_message` is not the only function used for OTR errors. You also have `receive_error_message`, which is the one that checks for the received messages. This is the function that must check that "?OTR Error:" is at the start position of the message, which currently it seems is not. It is used by using `strstr(const char *haystack, const char *

[2018-04-12 21:01] claucece commented on #59
This means are all cases where we say to send an error on the library are actually sending and receiving so.

Notice, futhermore, that libotr has many more error codes than the ones we have on the spec and library: https://bugs.otr.im/lib/libotr/blob/master/src/message.h#L27 Should we add something similar? Check what we have: https://github.com/otrv4/libotr-ng/blob/master/src/error.h#L39 For this

[2018-04-12 22:13] claucece commented on #91
Thanks for checking this ;)

[2018-04-13 02:32] claucece commented on #102
So, I have been investigating a little about this. When running over the CI with 1.7.3 only one machine fails, manly, "full-valgrind-checks". Oddly enough, this machine is exactly the same as another machine (ubuntu precise and using `gcc`), but that one does not fail. The only difference is that "full-valgrind-checks", configures with the --enable-valgrind flag.

When changing the script to:

[co

[2018-04-13 02:57] claucece commented on #102
Update: running with `./configure --enable-valgrind LIBS="-lgcrypt"` also fixes it.

[2018-04-13 03:13] claucece commented on #103
After reading on several places, I'll say go ahead.

Around, libgoldilocks, I'll say go ahead as well. Nevertheless, this is probably something libdecaf will also want, so I'll let Mike know ;)

Thanks!

[2018-04-13 04:19] claucece commented on #103
Mmm the only concern I have it is that sometimes we have the same name for the variable and for the struct. For example: `k_ecdh` and `k_ecdh_t`. In these cases for example it will look work this:

From ` hash_update(hd, k_ecdh, sizeof(k_ecdh_t));` The sizeof was actually taking the size of the struct.

to `hash_update(hd, k_ecdh, sizeof(k_ecdh));`...

[2018-04-13 07:57] #57 closed

[2018-04-13 09:29] olabini commented on #91
=D

It's important for us to keep discipline around macros - even though ones we use for tests etc. If we can get away with static inline functions instead, it's better - the way I replaced the accessor macros in otrng.c

[2018-04-13 09:38] olabini commented on #102
Uhm. That's weird. - incidentally, by using the LIBS="-lgcrypt" you are just forcing the compiler to also link against whatever libgcrypt is on your ldconfig - instead of using the one configure decides based on versions and package information.

This sounds like the kind of fun problem I know @claucece loves to investigate...

No, but honestly, I have no useful ideas right now. It's confusing.

[2018-04-13 09:55] olabini commented on #103
Yeah, that will be annoying. I'll go ahead and name the structs _s instead. I'll also go ahead and add _p typedefs for the [1] examples, so you can use that when you want.

One point about your k_ecdh example is that I'm not sure the variable name in that case is actually very well chosen. The name should describe what it is, not the type of it. But yeah, that's a different problem.

I'll cover bo

[2018-04-13 12:41] #103 closed

[2018-04-13 13:46] juniorz commented on #102
@claucece, from the logs compiler is `gcc`.

[code]

[2018-04-13 13:48] juniorz commented on #102
`libotr` has a `otrl_init` function which simply returns an error if initialization fails, but the macro `OTRL_INIT` invokes this function and aborts if the initialization failed.

We could follow the same approach. It allows people to opt-out of the rudeness if they invoke the function and deal with the error appropriately.

[2018-04-13 14:10] claucece commented on #103
Yeah. It will be prob good to change it.

Thanks!

[2018-04-13 14:28] claucece commented on #92
UPDATE: after thinking about this, it will be good to follow the spec variable names only when they are sufficiently clear for use to do. Nevertheless, there should be congruency between the spec and the library.

[2018-04-13 15:45] claucece commented on #91
Exactly, I definitely like them better :)

[2018-04-13 18:27] deniscostadsc commented on #65
I think this item is not applicable to this issue.

[2018-04-13 22:19] deniscostadsc commented on #65
This is only a matter of possible misunderstanding.

This will not interfere on the state machine behavior.

[2018-04-13 22:22] deniscostadsc commented on #65
@claucece, should I create tests that send different TLVs in order to test this?

[2018-04-13 22:23] deniscostadsc commented on #65
This won't change state machine behavior.

[2018-04-13 22:24] deniscostadsc commented on #65
Not applicable to this issue.

[2018-04-13 22:26] deniscostadsc commented on #65
I already discussed this with @claucece, and a correct implementation of the protocol won't send TLV type 1 outside ENCRYPTED state.

[2018-04-13 22:29] deniscostadsc commented on #65
Not sure how this implicates this issue. From what understood, The state machine won't change its behavior if the client is communicating with different devices. But, I'm not sure. Can you help me on this @claucece.

[2018-04-13 22:30] deniscostadsc commented on #65
@claucece, are you satisfied with this point:

I'm not sure what else should I verify. You can describe here what else is missing and I'll work on it.

[2018-04-14 04:33] claucece commented on #102
hahhaha maybe ;)

My bad, of course ;)

[2018-04-14 06:21] olabini commented on #65
About TLVs - I need to clarify a few things:
- ANY TLV can be sent in any Data Message. In fact, there is no other way for TLVs to be sent, and in theory, any combination of TLVs can come in the same Data Message.
- A Data Message is always encrypted. If the receiver is not in the encrypted state, it is impossible for the receiver to decrypt the Data Message. So if that happens, the receiver has n

[2018-04-14 06:22] olabini commented on #65
About multiple channels - if I understand this point correctly, the idea is that it is exactly in the protocol state machine that we need to keep track of when messages are received for other OTR channels, for example.

[2018-04-14 06:22] olabini commented on #65
I don't really understand the heartbeat comment.

[2018-04-14 06:43] claucece commented on #65
Hey, thanks @deniscostadsc and @olabini for looking into this ;)

Ok, for clarification. Denis copied the questions sent by Nik around the protocol state machine (stated on issue ##106 of the OTRv4 spec). Some of these questions don't really apply to the library as they were more around wording around the spec. But some of them do.

About multiple channels:

This section refers to section "Conside

[2018-04-14 06:47] claucece commented on #65
Mmm.. actually, no. When attaching a data message to the Non-Interactive auth (as per #68), you send an encrypted message on state START.

Mmm.. we already have a bunch of them. ;)  Check this one, for example, https://github.com/otrv4/libotr-ng/blob/master/src/test/test_api.c#L985

Thanks, @olabini for the TLV clarification. There is a diagram of how that looks on the spec:

[code]

[2018-04-14 06:47] claucece commented on #65
Mmm, we can check on Monday. Wanna pair?

[2018-04-14 06:50] claucece commented on #65
On "Protocol events" > "Query Messages" section, why is it required that users can choose which versions to support?
On "Protocol events" > "Query Messages" section, some information from the version string section is duplicated here. Consider reusing / referencing it.

Yes. But we can check, if you want @deniscostadsc , how versions are set (over the query messages, the user profile, etc) ;)

[2018-04-16 19:22] deniscostadsc commented on #65
You are totally right. And it tests the state machine in this situation. So, I think I can check this item.

[2018-04-16 19:26] deniscostadsc commented on #65
Then I'll keep this item checked.

[2018-04-16 19:48] deniscostadsc commented on #65
Ok I'll check this item.

[2018-04-16 21:50] #65 closed

[2018-04-17 17:58] annacruz commented on #59
@cherenkov What's the human readable part in:

and

[2018-04-17 18:02] claucece commented on #59
@annacruz

As the spec specifies:

"Unreadable message" and "Not in private state message".

[2018-04-17 18:10] deniscostadsc commented on #59
@claucece do you have any place where this is done? Me and @annacruz look at the code and we couldn't find any example of this human-readable conversion.

[2018-04-17 18:16] claucece commented on #59
@deniscostadsc

That is basically what needs to be done. Check here how the message is injected: https://github.com/otrv4/libotr-ng/blob/master/src/otrng.c#L1099 Over there the change should be done.

[2018-04-17 18:19] claucece commented on #59
Check the comment I putted on commit 5849d7cd578d1bdcfd365c27cb443e38a6feeaee

Basically the flow of checking OTR errors is:

1. You check that "?OTR Error: " exists at the beginning of the received message (already checked on the library but wrongly checked -it is not checking at the beginning only-).
2. Check that this error message contains only the allowed errors (1 and 2) and ignore otherwise

[2018-04-18 15:28] claucece commented on #59
Hey!

Have you thought about including more OTR errors? Or using them outside of the enums that also have ERROR and SUCCESS?

[2018-04-18 20:33] annacruz commented on #59
@claucece We don't really know if any other message are necessary in this moment, although I really think that the best approach for the moment is to continue using in the way we are using right now, if we have more error messages to deal with we can think in a better aproach. (I just think that the best approach is the simplest one that works with the scenario we have, if we do more is overengine

[2018-04-18 20:38] claucece commented on #59
Mmm

Why will it be overengineering to state the correct error messages to display, instead of passing a boolean-like ERROR or SUCCESS?

[2018-04-19 13:42] annacruz commented on #59
What I understood from the method is that it returns SUCCESS if he was able to send to display an error message and ERROR if it's not. I don't see a reason to return anything different than this since it's returning to display the actual message.

[2018-04-19 15:01] deniscostadsc commented on #81
This seems to be a very manual and repetitive task. Is there any clever way of doing this?

[2018-04-19 15:06] claucece commented on #59
That is not at all what I meant. The open question states: "Should we include more error types?". This means not at a error-related function level, but all over the library.  Libotr3 has, for example, other errors it uses like: OTRL_ERRCODE_MSG_MALFORMED, which is used over the library when a data message is malformed.

[2018-04-19 15:07] claucece commented on #81
There is ways to check this with valgrind, but sometimes valgrind even fails. So, yes.. this is a manual task. This issue is more about reminding that everyone should do this.

[2018-04-19 17:09] #60 closed

[2018-04-20 17:34] #59 closed

[2018-04-20 17:34] claucece opened #104 "Check if we need other OTR Error messages"
## Why

As we are currently implementing the revision number 2 of the OTRv4 specification, we need to include a consistent way of using OTR errors.

## Reference

Please, refer to the [OTR Error Messages](https://github.com/otrv4/otrv4/blob/master/otrv4.md#otr-error-messages) section of the OTRv4 spec.

## Tasks
- Check: https://github.com/otrv4/libotr-ng/commit/5849d7cd578d1bdcfd365c27cb443e38a6f

[2018-04-20 19:00] annacruz commented on #81
Hey @claucece and @olabini did we have some proof about valgrind fail in our codebase? Did this happened before?

[2018-04-20 19:20] claucece commented on #81
@annacruz Yes. See this commit, for example: https://github.com/otrv4/libotr-ng/commit/66ea49547e5d233f983d8d5b7eb370dba5b490f5

Valgrind was not checking that as that part of the code was not tested.

This one as well: https://github.com/otrv4/libotr-ng/commit/7a384f374c855bcb81f1927e3a8bba94817cc745

There can be more of those cases.

Around nullifying after free, check:
https://github.com/otrv4

[2018-04-20 19:22] claucece commented on #81
Furthermore, this one: https://github.com/otrv4/libotr-ng/commit/de326e5c07bc355d4da21d2d7b711f5134c0a685

was only failing on only one machine over valgrind (the OSX one). So, yeah, valgrind sometimes does not found this kind of things.

[2018-04-20 20:21] deniscostadsc commented on #81
I got this sample code from [wikipedia](https://en.wikipedia.org/wiki/Dangling_pointer#Avoiding_dangling_pointer_errors):

[code]

I'm not suggestion this code exactly, but do you all think a approach like this could help us to solve this `NULL` problem. Because if we are using our `safefree`, the pointer is going to be `free`d as we think is the best way. And it's easy to check the code.

This wo

[2018-04-22 17:18] olabini commented on #60
It seems like a lot of tasks are not finished - at least according to the checklists above - should the issue be closed anyway?

[2018-04-22 17:28] claucece commented on #60
@olabini I is waiting to the implementation of the double ratchet algorithm in an out of order way, which has been a really long issue. I'll add the KDFs there, as that is my issue ;)

[2018-04-22 17:33] olabini commented on #65
OK, cool. I do think that the heartbeat stuff needs some more consideration. Maybe I'm misunderstanding, but it sounds like you're describing something that is different from how previous OTR versions function. (Fundamentally, we NEVER send messages without interaction from the user of the library - so, a heartbeat will happen when we receive a message, and we haven't sent a message for N s where

[2018-04-22 17:35] olabini commented on #81
Yeah, personally I'm worried that this kind of trick will just hide logic errors. Remember, proper memory allocation is really about thinking properly about the states of all kinds of memory and objects we are working with. So, using something like this would hide more serious problems. And incidentally, double frees are much less problematic than not freeing at all - and double frees will usually

[2018-04-22 17:37] olabini commented on #59
I do want to point out that it's definitely not overengineering thinking about these kinds of error messages, since ideally they should be part of the specification...

[2018-04-22 17:38] claucece commented on #65
Yes.. we have an issue for the heartbeat as the current implementation is just not working. It was more a matter of wording on the spec.

[2018-04-22 17:38] olabini commented on #104
Yes, I definitely think so.

[2018-04-22 17:40] claucece commented on #81
@deniscostadsc

I don't think we need something as detailed as that. Just using:

[code]

should be enough.

And yes, I agree with @olabini . We used to have tons of double frees on the tests, and maybe some are still there.. so worth checking.

[2018-04-22 17:43] claucece commented on #59
@olabini yeah.. we created issue #104 for that.

[2018-04-22 17:44] olabini commented on #60
Ah, I see. Thanks.

[2018-04-22 17:44] olabini commented on #65
Ah, ok - I see.

[2018-04-22 17:45] olabini commented on #81
Oh, and BTW. Following the pattern of nulling the variable is good. But don't do it reflexively all over - there are many parts of our code base where we NULL a local variable at the end of a function. This is completely useless and is just cluttering up our code base.

[2018-04-22 17:46] olabini commented on #59
Yeah, I know - I just wanted to point out that when working with a specification, it's not necessarily overengineering, in the same way as it would be in other situations.

[2018-04-22 17:52] claucece commented on #81
@olabini yeah. I think that should be enough for the library per se, for tests is a little bit repetitive to do nullify.

[2018-04-22 17:53] claucece commented on #59
Yeah, we discussed this with @annacruz and @deniscostadsc . I'll definitely check this. One of the problems with otrv3 spec and the library was precisely that it was not specified enough..

[2018-04-23 17:06] annacruz commented on #59
@olabini I realized that I was misunderstanding some stuff, that was the problem.

[2018-04-23 21:03] deniscostadsc commented on #81
@annacruz and me already checked for `NULL` assignments after `free` on commit cdfb07a.

[2018-04-23 21:07] deniscostadsc commented on #81
Functions that probably free pointer inside them:

- [x] look at conversation_free function
- [x] look at gcry_free function // **seems does not belong to our codebase**
- [x] look at otrl_userstate_free function // **seems does not belong to our codebase**
- [x] look at otrl_tlv_free function // **seems does not belong to our codebase**
- [x] look at otrng_client_free function
- [x] look at otrng

[2018-04-23 21:09] deniscostadsc commented on #81
Hey, most of [these functions](https://github.com/otrv4/libotr-ng/issues/81#issuecomment-383723408) end with `_free`. But some of them do not follow this pattern, like `otrng_userstate_free_all`. Why?

[2018-04-23 21:12] claucece commented on #81
The functions with the `free_all` take variable inputs of the same type (VA_ARGS). They don't free one thing, but several, therefore, they free all they are passed. There is a chapter on 20th Century C around that ;)

[2018-04-23 21:13] deniscostadsc commented on #81
We didn't take a look on this. We'll take this into account.

[2018-04-23 21:39] deniscostadsc commented on #81
I didn't read this chapter yet. :D

[2018-04-24 05:48] claucece commented on #104
Ok, so libotr3 has:

[code]

I think we can use the same..

[2018-04-24 13:44] deniscostadsc commented on #81
function `otrng_list_free` that is used on [this function](https://github.com/otrv4/libotr-ng/blob/76d80a9f84fa0cceb3a013394566447b4ad5430f/src/messaging.c#L46), has a `NULL` assignement below it. But I was looking at [its code](https://github.com/otrv4/libotr-ng/blob/cdfb07a51479554f53702f5f602e7d3143a2c5ab/src/list.c#L64), and based on this [specific line](https://github.com/otrv4/libotr-ng/blob

[2018-04-24 17:55] deniscostadsc commented on #81
It seems what I see on [this comment](https://github.com/otrv4/libotr-ng/issues/81#issuecomment-383935798) is also valid for `otrng_tlv_list_free`. It has some unnecessary `NULL` assignments bellow it.

[2018-04-24 18:34] deniscostadsc commented on #81
Me and @annacruz had a good look on the code base looking for frees and `NULL` assignments, and after that I'm more in favor of a approach like the one I proposed [here](https://github.com/otrv4/libotr-ng/issues/81#issuecomment-383211529).

Almost part of the team also agree with me and we can see that people automated part of the effort freeing pointer into functions, as we can see [here](https:/

[2018-04-24 18:52] deniscostadsc commented on #81
I ran this command:

[code]

In order to check if all pointer are correctly free, I should track those allocated with `malloc`, right? Is this the best way to accomplish this?

[2018-04-24 19:10] deniscostadsc commented on #81
Should we add a new check-box the like "Check that all pointers are not nullified twice"?

[2018-04-24 19:58] claucece commented on #81
Hey!

Answering all of this.

I don't understand this. `otrng_user_state_free` nullifies a pointer of type 'list_element_s', NOT the elements inside the list (a list can have other 'list_element_s') .

Same as above.

I still don't agree with this. Automating things is not something we aim in this library.

That is not confusing, nor hiding logic. That is the behavior of a linked list that contain

[2018-04-24 20:06] claucece commented on #81
So, I think we should have a talk about pointers/scope/structures in the office, can you connect tomorrow @deniscostadsc ?

[2018-04-24 20:38] olabini commented on #81
@deniscostadsc - so, this comment has a few misunderstandings in it. First, the nulling of "node" inside call_and_free_node at the end is completely unnecessary and shouldn't be there.

Second, the nulling of "state" at the end of otrng_user_state_free is also completely unnecessary. However, the nullings of  state->states and the other fields inside state ARE necessary.

[2018-04-24 20:41] olabini commented on #81
@deniscostadsc - so, this comment has a few misunderstandings in it. First, the nulling of "node" inside call_and_free_node at the end is completely unnecessary and shouldn't be there.

Second, the nulling of "state" at the end of otrng_user_state_free is also completely unnecessary. However, the nullings of  state->states and the other fields inside state ARE necessary.

First of all, I'm STRONGL

[2018-04-24 20:43] olabini commented on #81
About these functions - otrng_mpi_free is doing things correctly - it's freeing and NULLing a _field_. But otrng_free, otrng_shared_prekey_pair_free and otrng_keypair_free are all unnecessarily NULLing their argument at the end of the function.

[2018-04-24 20:46] olabini commented on #81
No, this is wrong. Double Free happens when the same pointer is freed more than once. This causes segmentation faults most of the time. You stop that by setting the pointer to NULL after freeing it. But that's only necessary if the variable can be reached afterwards.

Dangling Pointers happen when you have a variable or field that is _used_ after being freed. This is a logic problem, and it means

[2018-04-24 20:46] olabini commented on #81
Can you give an example of a function like that? I haven't seen a single one. (And remember, your example works on a variable, it doesn't work on fields)

[2018-04-24 20:50] olabini commented on #81
I just want to clarify on this point, because I think people unused to C have taking it a bit too literally. A variable or field should ALWAYS be NULLed after free() - unless that variable or field goes out of scope directly afterwards. This means that you never need to NULL a variable if that variable is not used later in the function. But be careful here - fields and variables are very different

[2018-04-26 19:15] annacruz commented on #81
So after remove the unused nullifiers that @olabini pointed out we read about the patterns about pointers and functions in C and decided to check all the functions with `_new` in the name if they have an `_free` and/or `_destroy` destroying the right things. Also we found that any place that calls these `_new` functions called the `_free` or `_destroy` function. We must keep in mind that some func

[2018-04-26 19:16] annacruz commented on #81
Another doubt that showed up doing this work is about why sometimes is written `user_state` and sometimes `userstate` ? Can we agree in a pattern to follow?

[2018-05-02 11:50] olabini commented on #81
Yeah. It should always be user_state

[2018-05-07 19:32] claucece commented on #81
I guess we can unassign this issue and keep it open, so people check this when coding in the library, or in general checking it.

[2018-05-07 21:07] claucece opened #105 "Correctly debug segmentation faults"
## Why

A library should be able to correctly debug itself.

## Reference

- [How to debug a GCC segmentation fault](https://gcc.gnu.org/bugs/segfault.html)

## Tasks
- [ ] Correctly debug

[2018-05-09 04:59] claucece commented on #67
This still needs the constant time scalar selection, right? Should we inform Mike?

[2018-05-09 12:43] juniorz commented on #67
Not really. We do constant time scalar selection using elliptic curve arithmetic wizardry.

We did not write a test for `goldilocks_448_scalar_cond_sel` to demonstrate the problem, or did anything on the goldilocks library.

[2018-05-09 20:38] juniorz commented on #68
We have identified the following tasks:

- [x] Fix serialization of XZDH-ENCRYPTED-MSG (Attached Encrypted Ratchet Id, Public ECDH key, Public DH Key)
- [x] Fix serialization of non-interactive auth msg (Prekey Message Id, Client Profile Id, Prekey Profile Id)
- [x] API to access the RSig `c` from both sender and receiver. OR, just generate and send the nonce. (Decision depends on talking to @rosa

[2018-05-14 17:31] olabini commented on #81
I would prefer to close issues where we have finished the main task, otherwise we will have a large amount of open tasks that can't be done. I would suggest we add a file of "things to remember" or something like that, with these kind of prescriptions.

[2018-05-14 18:16] claucece commented on #81
Yes! We can add that to the style file. Thanks!!

[2018-05-14 18:16] #81 closed

[2018-05-14 19:00] olabini commented on #105
I'm not sure I know what this means. I also don't know why I was assigned to it! =)

[2018-05-14 19:17] juniorz commented on #67
But ideally, yes. It would be handy to have a constant time select for scalars that works.

[2018-05-14 23:41] claucece commented on #67
Ok.. I'll try to do a test for goldilocks and send the results to Mike.. is it good?

[2018-05-15 21:46] claucece commented on #105
well, @olabini , this was something you mentioned on a call that will be nice to have. Manly this will try to add a nice way to debug the segmentation faults.. do you remember? ;)

[2018-05-16 14:11] claucece opened #106 "Create tests for the error/failure cases"
**Warning!

Do not assign yourself this issue yet.**

## Why

A library should be sufficiently tested on all cases.

## Tasks
- [ ] List here the tests needed

## Open questions
- Are we freeing and nullifying correctly on each case?

[2018-05-16 20:15] deniscostadsc commented on #96
On [this commit](https://github.com/otrv4/libotr-ng/commit/199fb351dc9a32541b7783f30570dd9a19593dd7) I started this refactoring.

This commit changes the `otrng_err` enum, to use compliant values on `ERROR` and `SUCCESS`. Now is like this:

[code]

This means that in `if`s you call a function that return `SUCCESS` or `ERROR`, you can rely on that return. Something like this.

[code]

or

[code]

I

[2018-05-17 05:54] claucece commented on #55
For this, it will be also needed to add printfs as debug to see that the keys are been correctly deleted or not. Sometimes on the lib we delete and later pass zeros to other functions.

[2018-05-17 13:42] deniscostadsc commented on #96
I just realized I messed up with commits linked on this issue (actually I think Github is messing up things, but ok).

These two are the only commits that went into master. Ignore commit above:

https://github.com/otrv4/libotr-ng/commit/389b4c1ed8501875c4b0c8b4d4e98d8ebfe25bed
https://github.com/otrv4/libotr-ng/commit/e57ac6c1ba0c2e0c73c63afb0132f48e1ba4d267

I'll try to add `[WIP]` in all ignorab

[2018-05-18 05:51] claucece commented on #49
Apparently, the heartbeat messages test is now failing randomly and causing memory leaks on the process. This could have been something that was there from the beginning but just started showing.

There the error:

[code]

The mem leak:

[code]

[2018-05-18 13:13] claucece commented on #98
Let's wait on this issue.

[2018-05-18 13:26] claucece commented on #99
@juniorz Maybe related to what you are doing?

[2018-05-18 13:28] juniorz commented on #99
Yeah, I guess the "Make the Non-Interactive DAKE use these prekey messages, user profiles and prekey profiles separately" was what I was planning to do today.

[2018-05-23 05:55] claucece commented on #82
This issue is basically solved, but is waiting on the double ratchet in out-of-order, to derive the old mac keys of stored messages.

[2018-05-24 05:15] claucece commented on #104
Only a test and to update the spec is missing on this.

[2018-05-25 04:38] #104 closed

[2018-05-27 02:54] claucece commented on #53
The max_skip will be taken from the client. We should add this to the plugin.

[2018-05-28 19:45] deniscostadsc opened #107 "Check logic of if"
## Why

During boolean refactoring (#96), I had change this line code [from this](https://github.com/otrv4/libotr-ng/blob/2500b9c7b088c150da27b748c482f5593197de6c/src/otrng.c#L2065) [to this](https://github.com/otrv4/libotr-ng/blob/a802f56f979765fac9eb4fd62e8e2aefe509fbe4/src/otrng.c#L2065) on [this commit](a802f56f979765fac9eb4fd62e8e2aefe509fbe4). This has changed the logic and this need to be c

[2018-05-28 19:49] olabini commented on #96
Actually, there's a big problem with this refactoring. Specifically, the previous use of the otrng_err allowed for several different values to be errors. However, with the current refactoring, only ERROR will be a negative, and  STATE_NOT_ENCRYPTED or MSG_NOT_VALID will be success. I really don't think that's workable, actually. It will cause too much trouble. My suggestion would be that we split

[2018-05-28 19:59] olabini commented on #105
Hmmmmmmmm. Ah, I think this was actually that we should have a debug-build that contains the debug symbols as well, so you can get good outputs from segfaults. Nothing to assign me to do right now, though.

[2018-05-28 22:18] claucece commented on #107
Mmmm.. I'm not sure why create a separate issue for this.. this is working now, right?

[2018-05-28 22:20] claucece commented on #96
Yes.. STATE_NOT_ENCRYPTED, MSG_NOT_VALID or similar should not be part of the otrng_err.

[2018-05-29 16:00] deniscostadsc commented on #96
OK. So, those function should return `otrng_bool` and receive a pointer that is going to have that state of execution.

[2018-05-29 23:13] juniorz commented on #68
@claucece and @annacruz , I am marking the task about the double ratcheting as done here. We can review it together later.

[2018-05-30 02:43] claucece commented on #105
Ok, unassigned :)

[2018-05-30 21:15] deniscostadsc commented on #96
About the point @olabini rose, I discussed quickly about @claucece. We think it's better to change that on a issue related with message errors.

Is it ok?

[2018-05-30 21:21] deniscostadsc commented on #107
We already talked about this, but I'll make the discussion public.

The only guarantee I have it's working is that tests are now passing. Maybe it worthy take a look on this. If people disagree, we can just close the issue.

[2018-05-31 14:25] claucece commented on #68
Hey!

At least for this case, is done. Except for a little change that happened last week on the spec. But it shouldn't matter.

Thanks!

[2018-06-02 04:00] #53 closed

[2018-06-03 18:17] olabini commented on #96
Well, sure. But it seems like you'll be doing a lot of duplicated work, since several things you're doing now will need to be undone when the other change is done.

[2018-06-03 19:01] claucece commented on #96
@deniscostadsc @olabini Let's talk this on the call tomorrow. I've been thinking that @deniscostadsc needs to move to another story at this point.

[2018-06-03 19:04] olabini commented on #96
Yeah, let's talk.

[2018-06-04 04:53] #82 closed

[2018-06-04 04:54] #61 closed

[2018-06-04 21:15] deniscostadsc commented on #58
I read the "Shared Session State" section, but still not clear where do this. is it [here](https://github.com/otrv4/libotr-ng/blob/master/src/dake.c#L930)?

[2018-06-05 06:44] claucece commented on #58
We can talk tomorrow. I have free time at 12pm, does that work for you? @deniscostadsc

[2018-06-05 18:24] juniorz commented on #68
- [x] Make changes related to otrv4/otrv4#151.

[2018-06-06 14:59] #71 closed

[2018-06-06 15:05] claucece commented on #96
This is still missing to use everywhere the wrappers and to return the correct error codes (as parameters to the functions).

[2018-06-07 20:20] juniorz commented on #79
- [ ] Also, when the DAKE finishes a data message needs to be sent, and the first message in the queue should be added to it, if there's any.

[2018-06-07 20:24] juniorz opened #108 "Fix client profile's serialization and deserialization"
## Why

What is currently implemented does not match the spec.

## Reference

otrv4/otrv4#138

## Tasks
- [x] Implement serialization
- [x] Implement deserialization
- [x] Correctly serialize the expiration date
- [x] Remove the id, as well as in the prekey server.
- [x] ~Add OTRv3 DSA key.~ (see #124)

[2018-06-07 20:27] juniorz opened #109 "Remove attached encrypted message from non-interactive-auth message"
## Why

What is currently implemented does not match the spec

## Reference

otrv4/otrv4#151

## Tasks
- [x] Remove all the related fields
- [ ] Send a data message (heartbeat or with cipher-text) when the non-interactive DAKE finishes

[2018-06-07 20:30] #68 closed

[2018-06-07 20:30] juniorz commented on #68
The changes related to otrv4/otrv4#151 will be done as part of #109.

[2018-06-07 20:36] juniorz commented on #98
I believe the minimum for this that could be done before there is an implementation of a client for the prekey server protocol is:

- [x] Generate a "Prekey Publication Message" (and serialize it).
- [x] Receive a (serialized) "Prekey Ensemble Retrieval Message", deserialize it and validate its prekey ensembles (and filter out invalid ensembles).

As part of #68, the protocol is capable of receivi

[2018-06-07 20:40] juniorz commented on #78
This was done as part of #68, because we needed all the profiles (and their IDs) to be working as expected.

[2018-06-07 20:40] #78 closed

[2018-06-07 21:11] juniorz commented on #98
#78 is done, and I believe we could also move this issue to "Todo" when we feel like it.

[2018-06-07 21:14] juniorz commented on #99
This was also done as part of #68.

[2018-06-07 21:14] #99 closed

[2018-06-08 13:03] claucece commented on #98
@juniorz OK, let's finish the Non-Interactive-Auth and the heartbeat after the DAKE, and move this to TODO.

[2018-06-09 17:21] claucece commented on #107
I've tested this and is working fine :) I'm closing this. Thanks for reporting it.

[2018-06-09 17:21] #107 closed

[2018-06-11 19:47] #67 closed

[2018-06-11 20:22] claucece commented on #49
This is just waiting for some comments, so I'm closing this now.

[2018-06-11 20:22] #49 closed

[2018-06-11 20:52] #96 closed

[2018-06-12 06:43] #64 closed

[2018-06-13 17:12] juniorz commented on #79
The first task, mentions a part of the spec that does not make sense. On section "Receiving plaintext with the whitespace tag":

Why are we gonna queue a received plaintext message? Unless it is referring to another message, this paragraph needs to be removed.

[2018-06-13 17:16] claucece commented on #79
This is a recommendation sent in the email by Nik. It is basically the case of OTRv3, when a policy like
`REQUIRE_ENCRYPTION` is set and you receive a plaintext, you queue this message to be encrypted and sent once the AKE finishes.. If it makes sense or not in the context for OTRv4 is to be seen :)

[2018-06-13 17:20] juniorz commented on #79
But we have already received the plaintext message together with the whitespace tag, so this message can't be queued by who receives it (the section is "Receiving plaintext with the whitespace tag").

Maybe this was intended to be under the section "Whitespace Tags", which says when and how users generate and send whitespace tags.

[2018-06-13 17:34] juniorz commented on #79
For me, this issue is about how `REQUIRE_ENCRYPTION` can be implemented by having a queue of pending messages.

Then I started to evaluate the first task in this issue. If this task is about the **person who sends the whitespace tag**, I can't see how queuing would work unless we send ONLY the whitespace tag and queue the plaintext that would accompany the tag. They can't start a AKE because they

[2018-06-13 17:36] juniorz commented on #79
If the task is about the **person who receives the whitespace tag**, I don't think there is anything that can be queued. The person needs to evaluate the received tag and maybe start an appropriate AKE if there's agreement on any version.

[2018-06-13 17:46] claucece commented on #79
For context, check this here: https://github.com/otrv4/otrv4/issues/69

[2018-06-13 17:46] juniorz commented on #79
I don't like the idea of queuing the message that contains the whitespace tag. A receiver who does not support any OTR version will receive multiple "blank" messages until they replies, and the sender will not know the messages did not arrive.

This could be fixed by sending all the queued messages in plaintext at the moment the sender decides to stop attaching whitespace tags (the moment they rec

[2018-06-13 17:49] claucece commented on #79
Oh, I see.. it was very badly written.. so the idea is when you receive a plaintext with the whitespace tag, as a receiver you can discard the plaintext but ask the sender to queue it for resend with encryption...

[2018-06-13 17:51] claucece commented on #79
I'll repahrase on the spec, but it was basically:

When "Receiving plaintext with the whitespace tag", if the client has some policy dictating that 'OTR is always required' or that 'encryption is always required' (like REQUIRE_ENCRYPTION in OTRv3), and the tag offers OTR version 4 and version 4 is allowed, discard the plaintext but ask the sender to queue the message for encrypting and sending it

[2018-06-13 17:56] claucece commented on #79
I guess this is also part of this issue: https://github.com/otrv4/libotr-ng/issues/54

This is something I was wanting to discuss, should be have some policies? @olabini

[2018-06-13 18:00] juniorz commented on #79
Regarding otrv4/otrv4#69, I don't think I understand the goal. Why having the message resent if confidentiality is already lost for that message?

Regardless of the goal, this specific task needs further investigation since it has nothing to do with the queuing itself. I don't know how this "resend" request could be done with what we currently have in the protocol.

The proposed alternative of usi

[2018-06-13 18:01] claucece commented on #79
Yeah, we already decided against the phi thing.

Yes, we have issue #54 for that. I'll remove it from here. Thanks!

[2018-06-13 18:03] juniorz commented on #79
I still don't think queuing is what should be done here. We just want to store this particular message + whitespace tag that originated the DAKE, so it can be resent or used in `phi`.

I am happy with having this as part of #54.

[2018-06-13 18:56] juniorz opened #110 "Make sure we are c99"
## Why

We want to target our code for the c99 standard.

## Tasks
- [x] Remove use of  stpcpy
- [x] Remove use of  strnlen
- [ ] Remove use of  getline
- [ ] Enable `make code-check` in the pipeline to avoid this to become a problem again.

[2018-06-13 23:39] juniorz commented on #110
Why not to use gnulib?

https://www.gnu.org/software/gnulib/manual/html_node/Initial-import.html#Initial-import

[2018-06-14 02:07] claucece commented on #110
Check this: https://travis-ci.org/otrv4/libotr-ng/builds/278319205?utm_source=github_status&utm_medium=notification

[2018-06-14 03:14] Neustradamus opened #111 "Not clear 2 websites, gitlab, github"
Hello,

There are some problems for OTR:
- https://otr.cypherpunks.ca/
- http://otr.im/
- https://bugs.otr.im/explore

It is possible to redirect the old website (and all pages) to http://otr.im/ and add missing parts if there are?

See for the gitlab "bugs.otr.im".

It will be nice to update the old github to 4.1.1 and archive the deposit and inform to move it.
- https://github.com/off-the-record

[2018-06-14 20:26] claucece opened #112 "Add callbacks"
## Why

We need the client to be aware of some things.

## Tasks
We should consider adding callbacks for
- maximum message size
- error messages
- session expiration
- instance tag

[2018-06-15 12:34] olabini commented on #111
Hi. This is the issues tracker for the next generation implementation of libotr. Your comments here have no relevance to that goal - and you have posted this message at several different places already.

[2018-06-15 12:34] #111 closed

[2018-06-15 17:45] annacruz commented on #62
As I read and checked with @juniorz for now there's no interaction between version 3 and 4 of the otr protocol.

If the conversation was initialized with version 3 it will be in the version 3 until receive the message to end the conversation and if some version 4 message is received it will be ignored.

If the conversation was initialized with version 4 it will be in the version 4 until receive th

[2018-06-15 21:21] claucece commented on #62
Mmm.. interesting. I'll check this in a bit and come with an answer..

[2018-06-18 18:45] claucece commented on #54
We are removing this from the protocol, so this is closed.

[2018-06-18 18:45] #54 closed

[2018-06-18 18:59] claucece commented on #53
From the last OTR meeting:

- We need to not move the ratchet keys and info if the message is undecryptable. Check for this about corrupted messages.
- Check the out of order for the first data message sent.

Check: https://github.com/otrv4/libotr-ng/commit/1350b486b741e9a1f91df8ea5ab9f641d147ee7a#commitcomment-29380704

[2018-06-18 18:59] claucece commented on #65
@juniorz for Q/A

[2018-06-18 19:00] claucece commented on #96
@giovaneliberato for q/a

[2018-06-18 20:28] #62 closed

[2018-06-18 21:39] claucece opened #113 "Make usageID variables"
## Why

To be consistent with the spec.

## Tasks
- [x] Find the usage id and make them variables

[2018-06-19 19:56] juniorz commented on #112
I believe we need clarification in what we want to achieve. This seems to come from comparing what libotr has with what libotr-ng has., but they have different architectures. I don't think we need callbacks for everything libotr has.

I am creating a new issue to explain more about this (maybe it will serve as an onboarding material to the work on the plugin).

[2018-06-19 20:03] claucece commented on #112
Yes, I agree.. we already sort of discussed around this on the last call. I guess the only thing from that list that we decided to make a callback was the session expiration.

Thanks!

[2018-06-19 21:03] #113 closed

[2018-06-19 21:04] claucece commented on #112
Thinking this again, I don't we need any. Closing this.

[2018-06-19 21:04] #112 closed

[2018-06-19 21:05] claucece commented on #80
The TODOs have been updated. To check now: anything that does not have the client or client_profile label.

[2018-06-19 23:22] juniorz opened #114 "Evaluate the current architecture in comparison to libotr"
## Why

When it comes to how the `libotr-ng` interacts with `pidgin-otr-ng` we are making decisions based on how `libotr` interacts with `pidgin-otr`.

We need to understand the differences so far in order to make informed decisions, and also review this architecture/domain to make sure it makes sense.

This may impact how we communicate concepts in the spec, the boundaries of public vs internal A

[2018-06-19 23:30] juniorz commented on #114
This adds context on the current state of the "separation of things", which is needed for #6.
This gives some comparison with `libotr` which is needed for #32.
This gives some comparison with `pidgin-otr` which is needed for #16.

Related issues: #28 (explain other usages for the master/child context in `libotr`).

[2018-06-20 00:54] claucece commented on #69
On this, check

[code]

[2018-06-20 20:42] #58 closed

[2018-06-21 03:35] claucece commented on #109
Basically, done. But we need to test. If someone else wants to do that, go ahead ;)

[2018-06-21 22:08] claucece commented on #80
This will be done when the last TODO that is not related to the client or client_profile is done.

[2018-06-25 17:23] juniorz commented on #47
In order to generate `phi'`, the protocol expects to receive 3 string parameters:
- 2 identifiers (one per participants).
- a password (optionally).

The `phi'` string is created by joining the 2 identifiers (in lexicographical order). If a password is provided, it is appended to the end of this session state string.

The shared session state string is then generated by joining the 2 participants'

[2018-06-25 19:47] claucece opened #115 "Check for thread safety"
## Why

A library has to be secure in the ways it handles threads.

## Tasks
- [ ] Check that is thread safe

[2018-06-26 13:14] claucece commented on #42
This is duplicate of #98 . I'm closing this.

[2018-06-26 13:14] #42 closed

[2018-06-26 13:17] claucece commented on #98
Note from other issue that is very similar:

For a mode where online and offline are accepted, the same Prekey Server can be used. For a mode with no offline, we need to define how to publish.

I think we can still use the Prekey Servers as the standard for this - but maybe in XMPP exposed under a different service name.

[2018-06-26 13:17] claucece commented on #4
This intersects with #98

[2018-06-26 13:17] #4 closed

[2018-06-26 13:29] claucece opened #116 "Communicate programming errors to the plugin"
## Why

A library should define the programming errors it communicates to the plugin.

## Tasks
- [ ] Define the errors to communicate
- [ ] Define how to do so

## Open questions
- Should we do this?

[2018-06-26 13:30] claucece opened #117 "Check the callbacks"
## Why

A Library should use callbacks correctly

## Tasks
- [x] Check that all callbacks are defined correctly.

[2018-06-26 21:19] #63 closed

[2018-06-27 19:57] #83 closed

[2018-06-27 20:06] claucece opened #118 "Add namespace to NOTIF and errors"
## Why

A library should have namespace.

## Tasks
- [x] Put 'OTRNG' on the appropriate values

[2018-06-27 20:07] juniorz commented on #47
- [x] Update the spec.

[2018-06-27 20:13] giovaneliberato commented on #96
I reviewed all the commits for this issue + comments and everything seems right.
There is still some 2 or 3 open comments with suggestions. I checked the code and all of them are solved.

Moving it to done.

[2018-06-27 20:20] olabini commented on #52
So, this is the list of the ones that I could find right now. In most cases the naming is inconsistent based on whether it's for external or internal use, etc. I'll fix those cases, and start working on fixing each one of these:

client.h/client.c
CLIENT_ERROR_NOT_ENCRYPTED, CLIENT_ERROR_MSG_NOT_VALID returned from otrng_client_receive as an int
    this should probably be a regular enum instead t

[2018-06-27 20:35] olabini commented on #52
otrng_smp_event_t seems to be used both internally and externally, and in such a way that it makes no sense to remove it or change it

[2018-06-27 21:13] juniorz commented on #79
It seems this can be done completely at the plugin side by using the `gone_secure` callback to call `otrng_send()` for every pending (queued) message.

The plugin can also decide when to queue messages by asking the appropriate protocol for its encryption state.

We can do this as an issue for the plugin.

[2018-06-27 21:13] #79 closed

[2018-06-27 21:21] olabini commented on #52
We will keep otrng_tlv_type_t for now (but renamed to have the otrng_ prefix). It seems useful as is, and there's no obvious and good way of making a string pattern out of it.

[2018-06-27 21:25] olabini commented on #52
I think otrng_warning is reasonable to keep as an enum for now.

[2018-06-27 21:31] olabini commented on #52
For now, we will leave the policy stuff as is, but there is definitely room for improvement there.

[2018-06-27 21:32] olabini commented on #52
Actually, scratch that. Better to remove the POLICY defines since they are not used. We can add them back with a good design when we get to something that needs them.

[2018-06-27 21:35] olabini commented on #52
otrng_state can stay as an enum for now.
otrng_supperted_version doesn't really make sense at all. I'll leave it for now, with a TODO.

[2018-06-27 21:36] olabini commented on #52
The three enums in error.h all make sense as enums for now (although they need to be renamed).
With that, this issue should be done.

[2018-06-27 21:36] #52 closed

[2018-06-27 21:54] deniscostadsc commented on #47
Cases like [this](https://github.com/otrv4/libotr-ng/blob/a6375d6f94136e6256f1bee39029585e222771d4/src/otrng.c#L109) should also have a segfault if not implemented? If yes I going to remove this checks from these if's.

[2018-06-27 21:56] claucece commented on #47
We already discussed over IRC around this the other day. Right now we are not dealing with these errors as they are part of the plugin/client work. We will deal with them once we start there. So, I'll suggest leaving it there.

[2018-06-27 21:58] juniorz commented on #47
These are not callbacks that receive value from outside, bur rather inform the outside that something happened.

If the outside does not want to be informed, the protocol can still move on.

[2018-06-27 22:01] claucece commented on #47
Yeah, still for things that inform the outside, I'll prefer to leave them as that for the moment and deal with them in the plugin work.

I'll say that we should inform, but we will see on the plugin work..

[2018-06-27 22:05] deniscostadsc commented on #47
Ok! Thanx!

[2018-06-28 18:45] claucece commented on #69
Anything related with the client and otrv3 will be checked in the next project ;)

[2018-06-28 18:45] #69 closed

[2018-06-28 19:57] #47 closed

[2018-07-01 06:02] claucece opened #119 "Check splint errors"
## Why

Describe here why is necessary to resolve this issue

## Reference

Put here all the references to justify the issue and/or help developers to solve it

## Tasks
- [ ] Put here
- [ ] All the tasks needed
- [ ] To close
- [ ] This issue

## Open questions
- There's any open questions around this?

[2018-07-02 03:47] claucece opened #120 "Check Profiles"
## Tasks
- [x] Remove the long-term public key from the prekey profile
- [x] Correctly serialize the expiration date

[2018-07-02 03:47] claucece opened #121 "Decide to use the notif or the warning"

[2018-07-02 03:49] claucece opened #122 "Correct ed448 key generations"

[2018-07-02 03:49] claucece opened #123 "Check for the corrupted ratchet"

[2018-07-02 15:09] #122 closed

[2018-07-02 17:47] #118 closed

[2018-07-12 14:08] claucece commented on #85
This is something already addressed with the introduction of the address sanitizer and clang tidy. The places where this should change are marked as 'sanitizer', as a TODO.

[2018-07-12 14:08] #85 closed

[2018-07-12 14:09] claucece commented on #97
This is something already addressed with the introduction of the address sanitizer and clang tidy. The places where this should change are marked as 'sanitizer', as a TODO.

[2018-07-12 14:09] #97 closed

[2018-07-13 16:34] claucece commented on #123
Basically done. Just need some refactoring.

[2018-07-16 05:45] #117 closed

[2018-07-16 05:49] claucece commented on #120
The second task has been moved to the appropriate issue.

[2018-07-16 05:49] #120 closed

[2018-07-16 20:23] juniorz opened #124 "Associate DSA pubkey to the client profile and API for transitional signature (sign/verify)"
- [x] Add DSA key to client profile, serialize, deserialize.
- [x] Change client profile validation to optionally verify the transitional signature.
- [x] Add API to add a transitional signature to a client profile.
- [x] Add API to add a DSA pubkey to a client profile without signing (see discussion in otrv4/otrv4#167).

[2018-07-16 23:58] juniorz commented on #108
We noticed part of this story is about removing the ID from the client profile, so we might also need to:

- [ ] Remove ID from prekey profile.
- [ ] Remove both profile IDs from the non-interactive auth message.

But I am also confused about how the receiver of a Non-Interactive-Auth Message will be able to verify it when they has more than one active prekey profile at the same time?

Which profi

[2018-07-17 18:40] juniorz commented on #108
We have decided the user is expected to try all their valid profiles to validate a non-interactive auth message when multiple options are available.

[2018-07-17 18:47] juniorz opened #125 "Add fallback behavior when receiving a non-interactive auth message"
When a user receives a non-interactive auth message they must first use their latest non-expired profiles to verify the received message. If the verification fails they should fallback to their previous non-expired profiles.

This is because the non-interactive auth message has no profile IDs anymore.

Tasks:

- [x] Remove ID from prekey profile.
- [x] Remove both profile IDs from the non-interact

[2018-07-17 18:50] giovaneliberato commented on #125
Relates to https://github.com/otrv4/otrv4/issues/166

[2018-07-17 18:53] claucece commented on #121
We are going for warnings on this.

[2018-07-17 19:36] giovaneliberato commented on #124
Related to https://github.com/otrv4/otrv4/issues/167

[2018-07-23 06:29] claucece commented on #109
@juniorz This is done, in the sense that we need a data msg to start the non-interactive dake. See: https://github.com/otrv4/libotr-ng/commit/8504c76b47aa50a03717de6b460fe9be8fa86cf9 I'm still waiting for a discussion with Ola around this.

[2018-07-26 18:01] juniorz opened #127 "Serialize client and prekey profile expiry in two's complement."

[2018-07-30 14:34] claucece opened #128 "Enable debug flag is not working"
It shows:

configure: WARNING: unrecognized options: --enable-debug

[2018-07-30 14:35] claucece commented on #128
Sorry, not the correct lib.

[2018-07-30 14:35] #128 closed

[2018-08-07 21:36] juniorz commented on #127
The prekey profile also has an expiry field and needs the same serialization.

[2018-08-09 15:27] claucece commented on #125
This is still missing to ' Implement fallback behavior for both prekey and client profiles.', right?

[2018-08-09 15:28] claucece commented on #116
Decided to use the same errors as libotr-ng; but with debugging statements.

[2018-08-09 15:29] juniorz commented on #125
Yes, it is missing.

Note that we still only stores the latest profile in the user state, and we only serialized the latest profile on the "otr4.client_profile" file.

[2018-08-09 18:02] claucece commented on #14
We decided to go for (from a specification perspective):

[code]

From the library to plugin perspective:

[code]
We can further include

[code]

[2018-08-09 18:37] claucece commented on #66
See the issue: otrv4/libotr-ng#66

[2018-08-10 18:03] claucece commented on #26
I'm closing this as this is of the pidgin plugin.

[2018-08-10 18:03] #26 closed

[2018-08-10 18:05] claucece commented on #88
Duplicated.

[2018-08-10 18:05] #88 closed

[2018-08-10 18:08] #27 closed

[2018-08-10 18:08] claucece commented on #27
Moving this to the plugin work.

[2018-08-10 18:09] claucece commented on #98
@juniorz @giovaneliberato they can be published now?

[2018-08-10 18:10] #108 closed

[2018-08-10 18:10] #124 closed

[2018-08-10 19:43] juniorz commented on #98
There is a pretty basic implementation of this. And we are not, for example, filtering out duplicate or invalid ensembles returned by the server.

[2018-08-13 18:54] claucece commented on #98
@juniorz ok. Thanks!

[2018-08-24 15:33] olabini commented on #127
This is already working and fine.

[2018-08-24 15:33] #127 closed

[2018-08-24 19:48] olabini commented on #109
I think we are clear on this. We will open a new issue once we hear back from Nik about it.

[2018-08-24 19:48] #109 closed

[2018-08-24 21:11] claucece opened #129 "Check some offline path things"
Check:

This inter-laps with the plugin.

- [x] Know when to publish: send a storage status at login and publish.
- [x] Finish some things of service disco.
- [x] Publish various prekey ensembles: 100 at the time (configurable), every time it is low (<20).
- [x] Publish client and prekey profiles separatedly from prekey messages.
- [x] Check for expiration of profiles.
- [x] Reassemble of fragment

[2018-08-25 14:53] olabini commented on #66
Since libotr-ng and pidgin-otrng will not have different modes implemented - only different policies, we can close this issue.

[2018-08-25 14:53] #66 closed

[2018-08-25 14:54] olabini commented on #14
Most of the policies should be implemented in libotr-ng - as discussed in the email thread.

[2018-08-25 15:27] olabini commented on #114
This looks fine to me. Is there any work that needs to be done on this or can we close it?

[2018-08-25 16:12] claucece commented on #114
I guess this only gives context for other issues. I'm closing this and keeping it as a reference only.

[2018-08-25 16:12] #114 closed

[2018-08-25 16:13] claucece commented on #14
@olabini yes! already had an issue for that :)

[2018-08-27 00:00] claucece opened #130 "Fix some mem leaks"
These ones:

[code]

[2018-08-27 00:01] claucece commented on #130
Memory leaks referring to

- otrng_prekey_profile_asprint
- otrng_client_profile_asprintf

should be fixed now.

[2018-08-28 13:39] olabini commented on #121
This refactoring still needs to be implemented, right?

[2018-08-28 14:00] claucece commented on #121
Yes.. in fact, we are missing to make the notification actually work. As they are not pointers, they are not really retaining value.

[2018-08-28 14:10] olabini commented on #121
OK. I can take a look at that and implement it during the week.

[2018-08-28 16:06] olabini commented on #121
Wait, I'm a bit confused here. You are saying we are going with warnings - so we are going to remove otrng_notif, correct?

[2018-08-28 16:32] claucece commented on #121
Yeah.. forget my comment ;)

[2018-08-28 16:40] olabini commented on #121
The one about fixing notifications, correct? =)

[2018-08-28 16:41] claucece commented on #121
Yes @olabini

[2018-08-29 19:50] #121 closed

[2018-09-03 22:04] claucece commented on #116
I think most of this have been solved by @olabini

[2018-09-03 22:04] #116 closed

[2018-09-07 08:03] olabini commented on #52
The above commit was not related to this issue - it was actually fixing bug #52 in pidgin-otrng.

[2018-09-08 03:11] claucece opened #131 "Handle error messages via callback"
Right now they are printed by the library only in English. They should be handled by the plugin so they can be translated.

[2018-09-09 04:48] claucece commented on #130
@olabini can you run this again to check if some of them are gone? If you can, just send me the whole output over email :)

[2018-09-09 06:08] olabini commented on #130
Will do.

[2018-09-09 06:24] claucece opened #132 "Should we read the private keys, instance tags and fingerprints for v3?"
As it was commented here:

// TODO: @client Read privkeys, fingerprints, instance tags for v3
// To read stored private keys:
//
//    otrl_privkey_read(user_state, privkeyfilename);
//
// To read stored instance tags:
//
//    otrl_instag_read(user_state, instagfilename);
//
//        To read stored fingerprints:
//
//    otrl_privkey_read_fingerprints(user_state, fingerprintfilename,
//

[2018-09-09 06:26] claucece commented on #98
I'll move the filtering to another issue, as this is mostly closed.

[2018-09-09 06:26] #98 closed

[2018-09-09 06:28] claucece commented on #16
This will only be reference as we have the appropriate issue on the pidgin plugin repo.

[2018-09-09 06:28] #16 closed

[2018-09-09 06:29] claucece opened #133 "Filter out invalid received prekey ensembles"
This was sort of introduced here: https://github.com/otrv4/libotr-ng/commit/57cbda901d9803188c3ea21bf91fb4dab384008c but it should be tested.

[2018-09-09 06:53] olabini commented on #130
Sent in an email.

[2018-09-09 17:52] claucece commented on #130
Thanks @olabini

This all seem to have been solved. But I found two new ones:

[code]

[2018-09-11 09:50] olabini opened #134 "Implement alloc-or-die"
So, we have a large amount of malloc-and-check in our code base. However, libgcrypt, and by extension libotr, sometimes dies when allocation fails (using xalloc and so on). That means we already have alloc-or-die semantics in some parts of the code.

Since we can't really change those dynamics, and if we are running out of memory in such a severe way that we can't malloc, maybe the right approach

[2018-09-13 12:08] olabini opened #135 "Ensure that we check the return value always"
Most importantly malloc() but also strdup() and other similar functions.

[2018-09-13 12:10] olabini opened #136 "Ensure we allocate memory in a safe way"
See https://bugs.otr.im/lib/libotr/issues/23

[2018-09-13 12:10] olabini opened #137 "Have export functionality for long term key"
See https://bugs.otr.im/lib/libotr/issues/28

[2018-09-13 12:11] olabini opened #138 "Review Joseph Birr-Pixton blogpost"
See https://bugs.otr.im/lib/libotr/issues/51 in the context of libotr-ng

[2018-09-13 12:13] olabini opened #139 "Ensure storage is customizable"
We should ensure that storage is customizable and not just a file - see https://bugs.otr.im/lib/libotr/issues/73

[2018-09-13 12:14] olabini opened #140 "Make sure pidgin doesn't drop all files when generation fails"
See https://bugs.otr.im/lib/libotr/issues/84

[2018-09-13 12:15] olabini opened #141 "Extract memory cleaning behavior so we can customize with the safest options available"
See https://bugs.otr.im/lib/libotr/issues/108

[2018-09-13 12:16] olabini opened #142 "Hash data from RNG"
See https://bugs.otr.im/lib/libotr/issues/135

[2018-09-13 14:30] claucece commented on #142
@olabini I already incorporated this, as far as I remember.

[2018-09-13 14:32] claucece commented on #141
We were already using sodium_mem_zero or something like that for this, I think.

[2018-09-13 14:33] claucece commented on #137
Mmm.. I thought we were going for a 'no' on this, as the Client Profile is for example only for device.. should we rethink this?

[2018-09-13 14:34] claucece commented on #134
Mmm.. I'm not sure.. what kind of exposure attacks?

[2018-09-13 14:34] olabini commented on #141
Yeah, but I think it would be good to make sure we can use better options for different platforms, etc. If sodium_mem_zero doesn't turn out to be the right option, for example.

[2018-09-13 14:36] olabini commented on #134
If we miss a place checking the result of malloc, there is the possibility for an attacker to use that. (long shot, yes) =)

[2018-09-13 14:36] olabini commented on #137
Sure, not talking about client profile. More about the long term keys and so on. See the referenced issue for more info.

[2018-09-13 14:37] olabini commented on #142
Great, if you're comfortable we have it, we can close it. =)

[2018-09-13 14:37] #142 closed

[2018-09-13 14:57] claucece commented on #137
Ok. So it will be only one portion of the persisted info.

[2018-09-13 14:57] claucece commented on #134
Then, maybe, we should really check the return of malloc, everywhere. I'm not very comfortable with xalloc.

[2018-09-13 15:02] olabini commented on #134
Sure. But the point is that we already have xmalloc functionality in some parts of our code base, because of dependencies. So in some cases, running out of memory will kill the process. We can't stop that.

[2018-09-14 00:42] claucece commented on #141
As far as I know this was already mapped. But we can map it again.

[2018-09-14 00:43] claucece commented on #134
For me that is completely fine, because that is not our library per se.

[2018-09-14 00:44] claucece commented on #136
As far as I know, we were already using the way to allocate of libgrcrypt, but we can recheck again.

[2018-09-14 00:46] claucece commented on #137
Ok, so looking at the issue I see that this will only be from the longterm key material. I don't see why we will export anything else...

[2018-09-14 17:09] olabini opened #143 "Implement forging key changes"
The OTRv4 spec has now been updated with forging keys (otrv4/otrv4#177) - we need to implement this support. Specifically:

- [x] Update serialization/deserialization of client profiles to include the forging key and reflect changed numbers
- [x] Update ring signature generation and verification of Auth-R, Auth-I and Non-interactive Auth messages to use the forging keys
- [x] Create and manage the

[2018-09-15 19:01] #143 closed

[2018-09-18 19:33] claucece commented on #130
The two mem leaks seems to be related to libotr, so I'm closing this.

[2018-09-18 19:33] #130 closed

[2018-09-18 20:51] claucece commented on #135
Should we check this over the tests as well?

[2018-09-18 21:09] claucece commented on #138
I liked some suggestions of it, like:

* Unchecked fprintfs
* void otrl_mem_clear(volatile void *ptr, size_t len)
* http://cwe.mitre.org/data/definitions/14.html

The rest, I guess, are unchecked malloc and strup, overflow, etc.

[2018-09-19 12:06] olabini commented on #135
I don't think that's super helpful, personally.

[2018-09-20 08:18] mytbk opened #144 "Build error because of -Werror=null-dereference"
In https://github.com/otrv4/libotr-ng/blob/master/src/list.c#L29 list_new() can return NULL, so there's the following warning:

[code]

The code should check the return value of list_new(), or terminate when malloc fails.

[2018-09-20 09:50] claucece commented on #144
Fixed. Thanks!

[2018-09-20 09:50] #144 closed

[2018-09-20 17:45] claucece commented on #28
This needs careful investigation to see if it makes sense for OTRv4.

[2018-09-20 17:47] olabini commented on #28
This involves looking at whether it makes sense, which policies makes sense, and also whether we should move some of this functionality away from libotr-ng to pidgin-otrng.

[2018-09-20 17:49] claucece commented on #72
Define the exposed functions for the toolkit.

[2018-09-20 18:55] olabini commented on #119
So, I've just pushed a few comments that makes it possible to run splint in a correct way on ALL our files (except for test files). This gives over 3000 warnings.
In order to see them, open the .splintrc file, take away one of the suppressions, and start fixing!

`make splint` is how to run splint. (obviously you have to have splint installed)

[2018-09-20 21:35] olabini commented on #90
This doesn't happen anymore - there was a lcov/gcov difference in the file formats they used, and Fedora 28 didn't have the right version for a while. With lcov upgrade to 1.13.4, this works as expected. For reference, this is where we are:
[code]

[2018-09-20 21:59] claucece commented on #90
Thanks!

[2018-09-20 22:01] olabini commented on #90
Turns out it's not done yet - we are not capturing for most files, for some reason.

[2018-09-20 22:11] olabini commented on #90
OK, now it's fixed. If you still get lots of warnings about writing past the end of the file, or records of wrong length and things like that, it's because the lcov version is too old.

[2018-09-20 22:11] #90 closed

[2018-09-21 12:34] olabini commented on #75
This works fine now. In order to try it, just do `./configure --enable-gprof` and then `make profile`

[2018-09-21 12:34] #75 closed

[2018-09-21 12:40] olabini opened #145 "Implement ALLOW_V3 policy flag"
The ALLOW_V3 policy means that libotr-ng will allow start a DAKE with v3 if v4 is not possible, or not allowed and the peer indicates that they support v3. In the other direction, ALLOW_V3 should be checked if we receive a v3 DAKE message. Refer to the state machine in the spec for the exact details.

This story also involves figuring out exactly where this flag should be configured in the Pidgin

[2018-09-21 12:42] olabini opened #146 "Implement ALLOW_V4 policy"
The ALLOW_V4 policy means that libotr-ng will allow the start of a DAKE with v4, when the peer indicates that they support v4. In the other direction, ALLOW_V4 should be checked if we receive a v4 DAKE message. Refer to the state machine in the spec for the exact details.

This story also involves figuring out exactly where this flag should be configured in the Pidgin plugin - and doing it.

[2018-09-21 12:44] olabini opened #147 "Implement REQUIRE_ENCRYPTION policy"
This policy works very similarly to the REQUIRE_ENCRYPTION flag in OTRv3. When we try to send a message and we are not in an encrypted state, the library OR the plugin will store the plaintext message, start a DAKE and then send the plaintext after the DAKE has been established.
If we receive a plaintext message and this policy is turned on, we should warn the user.
Finally, this value, like the o

[2018-09-21 12:45] olabini opened #148 "Implement SEND_WHITESPACE_TAG policy"
If this policy is turned on, automatically append the whitespace tag to outgoing plaintext messages.
This should also be configurable in the Pidgin UI.

[2018-09-21 12:46] olabini opened #149 "Implement WHITESPACE_START_DAKE policy"
This policy controls whether libotr-ng should automatically start a DAKE when receiving a whitespace tag. If it's turned on, just do the DAKE immediately - if not, do nothing.
This should be possible to configure in the UI as well.

[2018-09-21 12:47] olabini opened #150 "Implement ERROR_START_DAKE policy"
This policy governs whether we should start a new DAKE when receiving a plaintext "?OTR Error" message.
It's not clear if this should happen to ALL OTR errors received or only some - and whether there should be different policy flag for the different possible errors. This should be investigated.
This policy/these policies should be possible to control through the UI as well.

[2018-09-21 12:50] olabini opened #151 "Implement REQUIRE_INTERACTIVE policy"
If this policy is turned on, the library will not start a DAKE using non-interactive auth - it will only allow for DAKEZ and online conversation initiation.
This should be possible to configure in the UI as well.

(There is a question here about what we do if we RECEIVE a non-interactive auth. Do we drop it? Should we have a different policy for that? This should be investigated and decided).
(Ano

[2018-09-21 12:50] olabini opened #152 "Implement IDENTITY_START_DAKE policy"
This policy decides whether we should start an interactive DAKE by sending a query message, or whether we should simply send an Identity message directly.
This should be configurable in the UI as well.

[2018-09-21 12:53] olabini opened #153 "Implement TRY_DAKEZ_WHEN_OFFLINE policy"
When it looks like the peer is offline, the default behavior will be to start a non-interactive auth instead of an interactive one. However, because not all networks will be able to reliably tell you if the other party is offline, and people can be invisible etc, it might be worth sending an interactive DAKE as well, so that the other party can use the stronger DAKE if possible. If this policy is

[2018-09-21 12:55] olabini opened #154 "Implement REQUIRE_AUTHENTICATED policy"
This policy means that we will only activate any of the OTR behavior when the other party is likely to be authenticated. This means that before starting a DAKE, if we have at least one trusted fingerprint for the peer, we should go ahead with the DAKE. AFTER the DAKE, we should also ensure that the key used was one we have a trusted fingerprint for. Otherwise we should abort the DAKE.
This should

[2018-09-21 12:57] olabini opened #155 "Implement simplified groups of policies"
Since we have many policies, it would be good to have a few groups of policies that go well together. See #14 for a few examples of these. For example:
[code]
This needs to figure out which combinations of policies make sense together.

[2018-09-21 12:59] olabini commented on #14
OK, this story has been broken up into several smaller stories:
#145, #146, #147, #148, #149, #150, #151, #152, #153, #154 and #155.

[2018-09-21 12:59] #14 closed

[2018-09-21 13:37] #92 closed

[2018-09-21 13:38] #93 closed

[2018-09-21 13:42] #95 closed

[2018-09-21 13:49] #105 closed

[2018-09-21 13:55] olabini commented on #123
Waiting for new ratchet init in the spec, and also implementation of this.

[2018-09-21 14:01] olabini commented on #132
Instance tags not relevant, since we do use the same file
- This issue is just to make sure we are actually reading it into the libotr library.

[2018-09-21 14:07] olabini commented on #134
OK, we have decided to use alloc-or-die semantics.
- [x] xmalloc
- [x] xstrdup
- [x] all other types of allocations

[2018-09-21 14:07] olabini commented on #135
Both in pidgin plugin and libotr-ng. Also check returns from libgcrypt and other things.

[2018-09-21 14:12] olabini commented on #136
For example, in some places we are putting secret data into stack-allocated buffers for a short amount of time. We should investigate and make sure secret data is always put into "secure memory arenas". It might also be worth adding our own macros/aliases for these things in one place, so we can easily evolve the implementations (just as for #141).

[2018-09-21 14:15] olabini commented on #138
We already have #141 for the second two. We should add a new issue for checking xprintf returns and close this issue.

[2018-09-21 14:44] olabini commented on #110
We should add -std=c99 to all compile commands

[2018-09-21 15:30] olabini commented on #110
We should also add the `-pedantic-errors` flag so the compiler errors when using non-C99 features.

[2018-09-21 17:29] claucece opened #156 "Check the return of fprintf"

[2018-09-21 17:29] claucece commented on #138
@olabini just created. Thanks!

[2018-09-21 17:30] #138 closed

[2018-09-21 17:31] claucece commented on #136
@olabini Agreed! There is also some security functions for this on libgcrytp (like gcry_mpi_snew), that we should use.

[2018-09-21 17:33] claucece commented on #14
Thanks! @olabini

[2018-09-21 17:43] claucece commented on #151
Mmm.. for me, you should be able to read it, but not use the same ratchet of this message to send offline messages.

If there is no non-interactive auth sending, then we should stop the publishing of prekey material, I guess.

[2018-09-21 17:44] claucece commented on #150
I guess, in OTRv3, it was for all.

[2018-09-21 17:49] claucece commented on #75
Thanks @olabini This is just a 'won't work for MAC' ;)

[2018-09-21 17:50] claucece commented on #90
Thanks @olabini

[2018-09-21 19:47] claucece commented on #75
So, yeah, just to add up to this: apparently, there is no way of installing gprof on MAC as right now.

[2018-09-21 21:10] claucece commented on #119
Funny enough, it generates no warnings for me.

[2018-09-21 21:38] olabini commented on #75
=( that's sadface.

[2018-09-21 21:39] olabini commented on #119
Yeah, because I added all the suppressions. As is, it doesn't warn for me either - you have to remove the suppressions in `.splintrc` like I say in the comment above.

[2018-09-21 21:53] #110 closed

[2018-09-21 22:38] claucece opened #157 "Unintialized values"
The MAC machine on CI is now working and printing valgrind correctly. There are a some reports it has found:

[code]

[2018-09-21 22:38] claucece commented on #157
cc./ @olabini

[2018-09-21 22:39] olabini commented on #101
After discussing this, we have decided several things. Please add to this list if you remember something specific.
We should refactor the tests to be a bit more factored. We also need to make a distinction between unit tests and functional tests. We should do these things:
- [x] Create a new category of unit tests - either in a completely new directory, or using a naming convention like test_unit_

[2018-09-22 11:18] #102 closed

[2018-09-22 11:22] olabini opened #158 "Implement prekey proofs"
These parts are necessary to do:
- [x] Implement ECDH proofs
- [x] Implement DH proofs
- [x] Serialize and deserialize proofs
- [x] Add proofs to the MAC calculation
- [x] Add proofs to the Publication serialization/deserialization
- [x] Add verify and generation of the proofs during publication flow

[2018-09-22 11:22] olabini commented on #101
I'll do the unit test refactoring and then unassign myself

[2018-09-22 12:09] #134 closed

[2018-09-22 13:28] olabini commented on #74
As defined in the meeting a few days ago, this is not really something we are interested in doing at the moment. Debugging seems to work fine for the people that needs to do it.

[2018-09-22 13:28] #74 closed

[2018-09-22 14:10] claucece commented on #110
Thanks! @olabini

[2018-09-22 14:13] claucece commented on #101
Thanks @olabini

[2018-09-22 14:28] claucece commented on #119
So, yeah @olabini I still get a lot of parsing errors. And I get prepoc errors:

[code]

When I add the flag -preproc, it runs. But still gets into parsing errors. This may be another 'cannot fix for MAC'.

[2018-09-22 15:01] #156 closed

[2018-09-22 15:15] olabini commented on #157
I've investigated all of these, and none of them are a problem in our code. I've added suppressions for them, and the OS X build in Travis is now passing.

[2018-09-22 15:15] #157 closed

[2018-09-22 17:57] claucece commented on #119
So, I sort of scroll on the warnings printed, and this one repeats a lot:

`Function parameter a declared as manifest array`.. should we fix this?

It is related to:

http://c-faq.com/aryptr/aryptrparam.html
https://stackoverflow.com/questions/3655566/what-is-the-meaning-of-this-splint-warning-and-what-might-i-be-doing-wrong

[2018-09-23 20:59] olabini commented on #158
In general, this is done now. There might be some memory leaks still happening that only the CI will catch - I will work on that later today.

[2018-09-23 21:31] olabini commented on #158
Actually, it's not done. The DH proof for B doesn't seem to work - which implies that the ECDH proofs work! Anyway, I'll look at this tomorrow.

[2018-09-24 02:35] claucece commented on #125
On this:

- We should also take the forging key from the expired client profile
- We should also take the shared prekey from the expired prekey profile

[2018-09-24 10:46] olabini commented on #158
OK, this is now fixed - including the fixes to the plugin to make everything work!

[2018-09-24 10:46] #158 closed

[2018-09-24 11:32] olabini commented on #136
A lot of allocation of secure objects is happening on the stack, since we heavily employ _p style objects. For now, this story is not about fixing this, instead it's about fixing the places where we do actual allocation.

If we want to fix the wider issue, we should revisit the manifest array style of defining structures, and also make sure to allocate external _p structures on the heap. We should

[2018-09-26 13:30] olabini opened #159 "Should we replace libgoldilocks and libsodium with OpenSSL now that the latest version supports goldilocks?"
The question has come up on the OTR mailing list whether it would be a good idea to rely on openssl instead of libgoldilocks and libsodium. (The email mistakenly says we can also remove libgcrypt, but since libgcrypt is a dependency of libotr, there is no useful way for us to do this).

[2018-09-26 14:24] olabini commented on #159
So, the basic idea is that since OpenSSL is more widely available on many platforms, and since having one dependency instead of having two dependencies makes it easier to get adoption. However, since the primitives we would need are all in the latest release of OpenSSL, it's not guaranteed that this version of OpenSSL will be available on those platforms anyway - thus putting it in the same situat

[2018-09-26 14:33] olabini opened #160 "Remove most of our _p typedefs"
libgoldilocks uses a pattern of "manifest array" typedefs for structures. Basically, a typedef is added for a struct that has a one element member. Something like this:

[code]

There are two different positive reasons for using this pattern. First, when using a struct inside of another struct, if the member is one of these manifest arrays the struct will have its storage fully embedded inside of

[2018-09-26 17:54] claucece commented on #159
Hey!

Yes, they have it, as it is basically the same code from Mike. The concern I have on here is that for extra operations we might need (like the multiexponentiation), we cannot add to OpenSSL; but we can add to libgolidlocks and easily add to libdecaf.

On OpenSSL, I have not found XSalsa, but maybe I'm just not good at finding ;)

So, I don't see it as worthy to use it as well...

[2018-09-26 18:10] #136 closed

[2018-09-26 18:10] #141 closed

[2018-09-27 01:04] claucece commented on #125
Just tested this: it creates the file and it works. Must be further testing when the persistent architecture is done. For now, this is closed.

[2018-09-27 01:04] #125 closed

[2018-09-27 23:02] DrWhax opened #161 "Setup coverity builds in travis-ci"
## Why

It would be nice to have  coverity builds once in a while. They recommend to setup a "coverity_scan" branch that has some extra stuff added to .travis-ci.yml (https://scan.coverity.com/travis_ci) like the token (that can be "encrypted" through a travis tool)

The master branch is also possible, however, coverity queue's your project in their open source pools and it can take a while before

[2018-09-27 23:25] DrWhax commented on #161
The limit we have is:

[2018-09-28 20:08] claucece commented on #159
So, after having these thoughts, we have decided to not go with OpenSSL.

[2018-09-28 20:08] #159 closed

[2018-09-28 20:35] claucece commented on #28
After investigating a little bit from the plugin perspective:

* Alice (on device 1101) starts an OTR conversation with Bob (on device 1201) and Bob (on device 1201).
* Bob (on device 1202 and 1201) receives the DAKE from Alice, but only one device receives data messages (not sure how this is chosen).

This also happens:

* Alice (on device 1101) has an OTR conversation with Bob (on device 1201).

[2018-09-28 20:55] claucece commented on #28
So, for this case, apparently this is what happens:

If your application allows the same user to be logged in multiple times from different locations, it should probably be aware of instance tags. A user can maintain multiple concurrent OTR conversations with a buddy who is logged in multiple times. Only one of the buddy's sessions can be a client who is running OTR protocol version 2. When a user

[2018-09-29 15:01] olabini commented on #160
This is fixed now. including changing the plugin as well.

[2018-09-29 15:01] #160 closed

[2018-09-29 22:04] olabini opened #162 "Sometimes the B prekey proofs are still wrong"
This is likely because of some uninitialized memory somewhere... It doesn't happen often though.

[2018-09-30 15:05] olabini commented on #162
Actually, this seems to happen a lot right now - 60-70% of the time for me. I'll investigate.

[2018-09-30 17:46] olabini commented on #162
Adding to this, libotr-ng DOES verify even the bad proofs...

[2018-09-30 18:23] olabini commented on #162
OK, this has been fixed as of current master. The reason was because of sizeof used to generate keys - but after a recent refactoring sizeof returned the size of the pointer, instead of the buffer allocated. The fix was to not use sizeof in many of those places, to make the code more robust.

[2018-09-30 18:48] claucece commented on #162
Ok, with the current code that I got, I get:

[code]

[2018-09-30 18:49] claucece commented on #162
My branch is at the latest commit from master on every library needed.

[2018-09-30 18:53] olabini commented on #162
Really? I don't get that after doing the sizeof fixes I pushed

[2018-09-30 18:54] claucece commented on #162
Yes.. I get it 4 out of 5 times.

[2018-09-30 19:03] olabini commented on #162
Hmm. And you deleted absolutely everything, and you're sure libotr-ng has been installed?

[2018-09-30 19:07] olabini commented on #162
Yeah, I get it now too. It doesn't happen as often as before though.

[2018-09-30 23:06] #162 closed

[2018-09-30 23:07] olabini commented on #162
@claucece - can you try again with this fix?

[2018-10-01 05:31] claucece commented on #28
Furthermore, this is also the idea:

[code]

[2018-10-01 16:13] claucece commented on #162
Now it gets published. thanks.

[2018-10-02 00:25] claucece commented on #161
They still haven't approved us.

[2018-10-02 17:15] olabini opened #163 "Simplify and refactor state management"
This issue is about track everything related to the client orchestration, making sure state is read and available at the right times, and that publication happens when it should.

[2018-10-02 17:19] olabini commented on #163
There are several issues that are closely connected to this one:
- #140
- #139
- otrv4/pidgin-otrng#87
- otrv4/pidgin-otrng#85
- otrv4/pidgin-otrng#82
- otrv4/pidgin-otrng#72
- otrv4/pidgin-otrng#13
- otrv4/pidgin-otrng#9
- otrv4/pidgin-otrng#8

[2018-10-02 17:24] claucece commented on #161
This has the milestone of 'October' but it depends on whether or not we are accepted by the coverity scan.

[2018-10-02 20:52] olabini commented on #163
This involves these objects:
- [x] Private long term key
- [x] Forging key
- [x] Client profile
- [x] Expired client profile (only loading etc)
- [x] Prekey profile
- [x] Expired prekey profile (only loading etc)
- [x] Prekey messages
- [x] Private material corresponding to prekey profile
- [x] Private material corresponding to prekey messages
- ~~Fingerprints~~ (for now, let's keep them outside o

[2018-10-04 00:46] olabini commented on #163
With the latest commits the private prekey profile material is now managed together with the prekey profile, so no need to manage it separately.

[2018-10-05 21:15] DrWhax commented on #161
I've sent them an e-mail on how we could assist in speeding up the process of being accepted. I got a reply that:

We'll see.

[2018-10-05 21:47] #131 closed

[2018-10-05 23:06] DrWhax commented on #161
We got accepted!

[2018-10-05 23:06] claucece commented on #161
Yeeess!!! Thanks @DrWhax

[2018-10-06 03:15] claucece commented on #135
I'm opening one as well for the plugin, as there it is mostly not checked.

[2018-10-06 23:14] olabini commented on #163
I would say this is done. At some point I'll tackle the v3 keys, instance tags and fingerprints, but I think I'll do that outside of this issue.

[2018-10-06 23:14] #163 closed

[2018-10-06 23:15] olabini commented on #140
The current logic is decoupling generating and writing to files completely, and all files are written independently, so this can't happen anymore.

[2018-10-06 23:15] #140 closed

[2018-10-06 23:15] olabini commented on #139
This is not done yet, but would be very simple to do in the current structure.

[2018-10-07 17:53] claucece commented on #163
Thanks @olabini

[2018-10-14 08:05] #135 closed

[2018-10-16 10:55] olabini opened #164 "Refactor and rework how fingerprints are used"
We are currently storing seen fingerprints and managing them inside of pidgin-otrng. However, the current code doesn't take into account v3 fingerprints, and since libotr has its own ways of dealing with fingerprints (inside of libotr primarily, not inside of the pidgin plugin), it's hard to see how the current structure will work AT ALL.

So, this issue is about doing a few different things to fi

[2018-10-23 20:02] claucece commented on #164
This might also be related to #132

[2018-10-24 12:33] claucece commented on #133
Here we should also check that the Client Profile's version is supported by the receiver during validation.

[2018-10-28 23:48] olabini commented on #164
So, I have gone through libotr and pidgin-otr and the fingerprint functionality is actually quite straight forward there:
[code]

[2018-10-31 05:09] claucece commented on #161
This is setup now!  I think @DrWhax that everything is now solved.

[2018-10-31 23:26] claucece commented on #161
Added with badge and everything. Thanks @DrWhax

[2018-11-02 15:50] olabini commented on #164
Looking at libotr-ng and pidgin-otrng:
[code]

[2018-11-04 15:50] claucece opened #165 "Fix error reported by clang-tidy and MAC OS machine"
Clang-tidy reports:

[code]

See that on the 'style' machine

[2018-11-04 19:03] #165 closed

[2018-11-06 22:07] claucece commented on #28
So, we decided to have 'policies' for instance tags:

1. Best: send to the device which has trusted authentication, and it is the most recent one of them.
2. Recent received: send to the device from which it was recently received.
3. Recent sent: send to the device from which it was recently sent.

Should be the same for retrieving prekey ensembles.

We can also show this in the UI.

[2018-11-06 22:11] claucece opened #166 "Add message events"
We can use:

[code]

[2018-11-14 03:09] #133 closed

[2018-11-17 23:22] claucece commented on #146
Closed with 4ab07f150bc1134a7b7ed04cc2fc8f2ee3e60d70

[2018-11-17 23:22] #146 closed

[2018-11-17 23:22] claucece commented on #145
Closed with 4ab07f150bc1134a7b7ed04cc2fc8f2ee3e60d70

[2018-11-17 23:22] #145 closed

[2018-11-20 03:49] #149 closed

[2018-11-24 02:47] claucece commented on #150
So, for OTRv3, it was for all error messages. For OTRv4, though, it makes sense only for:

[code]

These ones should probably not start a DAKE:

[code]

[2018-11-25 03:33] claucece commented on #148
Ok, this one is weird in the current way we have structured the code. In otrv3, this happened when you were on the state 'MSGSTATE_PLAINTEXT' (which can be reached when sending a TLV disconnected only) and tried to send a plaintext. This could happen as there was only one function that sends all messages (query, encrypted, and plaintext).

In the current structure, we have different ways to send m

[2018-11-26 01:14] claucece commented on #150
Ok, so looking at this, it makes sense now:

[code]

It does not make sense for
[code]

because we are not allowed to send query messages in ENCRYPTED STATE. Let's discuss on Monday.

[2018-11-28 18:15] claucece commented on #148
Solved now :)

[2018-11-28 18:15] #148 closed

[2018-11-30 02:37] #147 closed

[2018-12-07 21:12] claucece commented on #101
This is something we can tackle at the assembly at CCC. We should create tasks. But this can be a nice start for people in OTRv4.

[2018-12-07 21:13] claucece commented on #106
This is something we can tackle at the assembly at CCC. We should create tasks. But this can be a nice start for people in OTRv4.

[2018-12-07 21:14] claucece commented on #80
I'll check this TODOs and make issues, as this can be things we can hack together at the assembly.

[2018-12-07 21:19] claucece opened #167 "Change ed448 basepoint to an EDdsa encoding"
Should be this base point:

14fa30f25b790898adc8d74e2c13bdfdc4397ce61cffd33ad7c2a0051e9c78874098a36c7373ea4b62c7c9563720768824bcb66e71463f6900

Mike Hamburg sent it by encoding them through the “ristretto” widget. We should check the correct zeros to add and put it on the auth.c file.

[2018-12-07 21:22] claucece opened #168 "Signal warnings correctly to the client"
As seen here: https://github.com/otrv4/libotr-ng/blob/master/src/client.c#L256 Warnings should be treated in some way by the client.. should we send an error message, should we have return codes?

[2018-12-07 21:24] claucece opened #169 "Make failure text on query message translatable"
As seen here: https://github.com/otrv4/libotr-ng/blob/master/src/client.c#L274

[code]

[2018-12-07 21:25] claucece commented on #169
We should probably and mostly use a callback for this.

[2018-12-07 21:26] claucece commented on #168
This should ensure all warnings are checked.

[2018-12-07 21:26] claucece opened #170 "Clarify how the expiration of the session is going to happen"
As seen here: https://github.com/otrv4/libotr-ng/blob/master/src/client.c#L462

[2018-12-07 21:36] claucece opened #171 "Create an error for when you try to send more prekey messages than accepted by the policy"
As seen here: https://github.com/otrv4/libotr-ng/blob/master/src/client.c#L581

[code]

This can be either an error message or a warning.

[2018-12-07 21:38] claucece opened #172 "Finish the debug api on client"

[2018-12-07 22:24] claucece opened #173 "Find and implement a nicer way to check for an empty array"
This is used everywhere:

[code]

[2018-12-10 00:27] claucece opened #174 "The ecdh and dh keys are calculated twice for different purposes"
It is first calculated here:

[code]

and here:

[code]

This could be refactored.

[2018-12-10 13:01] claucece opened #175 "Re-assemble received messages from the prekey server"

[2018-12-10 13:02] claucece opened #176 "Verify that prekey messages are removed from storage once used"

[2018-12-10 13:02] claucece commented on #129
Issues created for the last tasks.

[2018-12-10 13:02] #129 closed

[2018-12-10 19:41] claucece opened #177 "Check that state is not moved unless all verifications succeed"
This should be check when receiving any message.

[2018-12-10 19:47] claucece opened #178 "Refactor the whole prekey client file"

[2018-12-10 20:49] claucece commented on #80
The todos have been checked. The ones that look like a 'good first issue' have been defined as so. The others will be discussed in the mailing list.

[2018-12-10 20:49] #80 closed

[2018-12-10 20:49] claucece commented on #123
Closing this, as this needs now the new ratchet implementation.

[2018-12-10 20:49] #123 closed

[2018-12-10 20:50] claucece opened #179 "Implement the new ratchet intialization"
Implement the new fields for the Identity and Auth-R message, and initialize correctly the double ratchet.

[2018-12-10 20:53] claucece opened #180 "Check the smp and auth generation of scalars"
They should all be hashed and pruned.

[2018-12-17 13:40] olabini commented on #164
The main thing currently missing is to manage the loading and storing of V3 fingerprints. Everything else should work. However, if you see any problems, please let me know.

[2018-12-18 09:57] glitsj16 opened #181 "Arch Linux build error in fingerprint.c"
On Arch Linux I can't succesfully build from git master anymore lately.

$ pacman -Q glib2 libgcrypt libgoldilocks libotr libsodium
glib2 2.58.1+67+g17519e039-1
libgcrypt 1.8.4-1
libgoldilocks-git 644.045bec4-1
libotr 4.1.1-2
libsodium 1.0.16-1

PKGBUILD used: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=libotr-ng-git

Anything after https://github.com/otrv4/libotr-ng/commit/7d661831124c

[2018-12-18 10:34] olabini commented on #181
Hey, sorry about that. It was a small mistake that I have just fixed in the last push. Thanks for reporting it!

[2018-12-18 11:21] ghost commented on #181
@olabini Follow-up. Thanks for the speedy fix. The build is still not working here though:
...
units/test_messaging.c: In function ‘read_full_file’:
units/test_messaging.c:488:3: error: ignoring return value of ‘fread’, declared with attribute warn_unused_result [-Werror=unused-result]
   fread(buffer, fsize, 1, fp);
   ^~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated due to -Wfatal-errors.
...

[2018-12-18 11:22] olabini commented on #181
Ah, interesting. I'll fix in a second - I just have to sort out a few small memory leaks.

[2018-12-18 11:55] #181 closed

[2018-12-18 11:55] olabini commented on #181
Hmm, so my compiler doesn't find this problem, even when turning on that flag. However, I've fixed it now - hopefully there are no more problems, but do let us know!

[2018-12-18 12:09] ghost commented on #181
@olabini Odd indeed. But, good news, the build is now working fine again. Really appreciated!

[2018-12-18 12:28] olabini commented on #181
Thanks! We appreciate the reports.

[2018-12-18 17:54] claucece commented on #180
Ok, this needs an email to be sent to Mike. Basically, my concern is:

[code]

should that scalar be hashed as well? It does not come from randomness; but from fixed values.

[2018-12-18 20:54] claucece opened #182 "Check if padding is working"

[2018-12-18 22:06] claucece commented on #182
Working, with test introduced on bb24dc86d207ea830b88a5affb042d69b95a66fa

[2018-12-18 22:06] #182 closed

[2018-12-19 10:14] olabini commented on #182
Great! =)

[2018-12-19 10:16] olabini commented on #180
I thought Ian in our call was pretty clear that you can't modify the scalar output of that - or did I misunderstand?

[2018-12-20 16:53] claucece commented on #166
Ok, so we don't necessarily need them; but message events are used, from a client level, to generate notifications to the user, like the ones stated here: https://github.com/otrv4/pidgin-otrng/issues/49 We can also tweak what we have to generate the same thing, though...

[2018-12-20 16:54] claucece commented on #166
Any ideas? @olabini @DrWhax .. I can explain more in detail...

[2018-12-22 15:42] olabini commented on #166
Ah, I see. Yeah, those notifications are useful to have, and events definitely feel like the cleanest way of doing them. Do you have alternatives? Otherwise I think this is good.

[2018-12-23 05:17] claucece commented on #166
Well, in libotr, message events are handled in the "top" sending and receiving funcs. So when, for example, a hearbeat message is sent, the event is also raised:

[code]

Our code is different, and we don't have major functions that handle everything; but rather small functions, like this:

[code]

my idea is that there we can create a callback `handle_msg_event` which does the same as in libotr,

[2018-12-23 05:52] claucece opened #183 "Ideas from libotr... should we have them?"
There is some functionality in libotr that we might want to have:

1.  Convert Operations

There is a callback that is made immediately before a message is encrypted and immediately after a message is decrypted. This callback can tweak the plaintext message as needed. For example, this could allow an application to convert formatting on a message if this would normally be done on the plaintext by

[2018-12-23 05:57] claucece commented on #183
@olabini @DrWhax thoughts?

[2019-01-08 17:54] olabini commented on #164
The final step before this issue is done is to fix up the fingerprints list to work correctly, and have the v3 fingerprints in it.

[2019-01-08 19:03] olabini commented on #164
I now consider this work done. I'll open some separate issues for some problems that remain to be fixed.

[2019-01-08 19:03] #164 closed

[2019-01-08 19:06] olabini opened #184 "Fingerprints - in the fingerprint keylist, the "Status" column is a bit confusing"
Because the "Status" column looks up the current conversation using ONLY the username of the peer, you will have weird statuses showing up, even for lines that are not using the fingerprint in question. We should only have a Status for the lines where we have a current conversation with the specific fingerprint instead.

[2019-01-08 19:07] olabini opened #185 "Fingerprints - the sorting of fingerprints can crash"
Because the sorting function assumes a specific pointer, that is not correct anymore.

[2019-01-08 19:08] olabini opened #186 "Fingerprints - v4 - "start private conversation" button not available"
The button simple isn't activated

[2019-01-08 19:08] olabini opened #187 "Fingerprints - v4 - "forget fingerprint" button not available"
The button isn't activated

[2019-01-08 19:09] olabini opened #188 "Fingerprints - v4 - ensure the other keylist buttons work"
Just to be on the safe side

[2019-01-08 19:09] olabini opened #189 "Fingerprints - v3 - support the connect button"

[2019-01-08 19:09] olabini opened #190 "Fingerprints - v3 - support the disconnect button"

[2019-01-08 19:10] olabini opened #191 "Fingerprints - v3 - support the forget fingerprint button"

[2019-01-08 19:10] olabini opened #192 "Fingerprints - v3 - support the verify fingerprint button"

[2019-01-08 19:10] olabini opened #193 "The verify fingerprints dialog should support v3 fingerprints"
It currently only supports v4.

[2019-01-08 20:31] olabini commented on #193
Just testing something

[2019-01-09 17:51] olabini commented on #186
This has been fixed on latest commit in pidgin-otrng

[2019-01-09 17:51] #186 closed

[2019-01-09 17:51] olabini commented on #187
This has been fixed on latest commit in pidgin-otrng

[2019-01-09 17:51] #187 closed

[2019-01-09 17:51] olabini commented on #188
This has been fixed on latest commit in pidgin-otrng

[2019-01-09 17:51] #188 closed

[2019-01-09 18:24] olabini commented on #185
I removed this custom sorting function, it doesn't feel like it gives very much.

[2019-01-09 18:24] #185 closed

[2019-01-11 16:47] olabini commented on #193
Three pieces to this one:
- [x] Create a dialog for v3
- [x] Hook the dialog into the keylist buttons
- [x] Hook the dialog into the "Verify" behavior inside a specific conversation

[2019-01-11 19:45] claucece commented on #171
I think this can be handled with warnings. We need to create a callback, so warning are shown.

[2019-01-11 20:48] #171 closed

[2019-01-14 22:44] claucece commented on #168
Added as a callback now :)

[2019-01-14 22:44] #168 closed

[2019-01-15 22:24] claucece commented on #166
Ok, I have added most of them. I need to document and check if we will support the other ones.

[2019-01-16 18:41] claucece commented on #166
I'll stop the work on this until we have the groups of policies in place.

[2019-01-30 10:45] olabini commented on #192
This has been fixed.

[2019-01-30 10:45] #192 closed

[2019-01-30 11:16] olabini commented on #193
This is now working on master.

[2019-01-30 11:16] #193 closed

[2019-01-30 11:35] #189 closed

[2019-01-30 11:57] #190 closed

[2019-01-30 12:06] olabini commented on #173
The more important point is that that comparison is not constant time. That could be a problem.
When you say it's used everywhere - I can't find anywhere else - any pointers?

[2019-01-30 12:07] olabini commented on #139
I think we should close this and ignore it for now. An improvement for another version.

[2019-01-30 12:07] #139 closed

[2019-01-30 12:07] olabini commented on #132
This is fixed with the previous fingerprint work.

[2019-01-30 12:07] #132 closed

[2019-02-08 19:32] olabini commented on #184
We should match on version. We should match on fingerprint. We should also add a new state, that says something like "No conversation"

[2019-02-08 20:29] #184 closed

[2019-03-07 20:43] claucece commented on #177
Depends on #179 being finished.

[2019-03-07 20:47] claucece commented on #170
Open new issue about timer management, and add this issue to that one.

[2019-03-08 07:19] claucece commented on #119
We decided around the 'manifest arrays' to change them to arrays everywhere and then define in the documentation of which size.

[2019-03-09 17:14] olabini commented on #32
After discussion about this, most of this is probably done - although we need to make sure the otr3 callbacks work correctly.

[2019-03-09 17:15] olabini commented on #72
I'm closing this, I feel it's a duplicate of #6

[2019-03-09 17:15] #72 closed

[2019-03-09 17:15] olabini commented on #73
This depends on #6

[2019-03-09 17:16] olabini commented on #115
I'll take a look and investigate this.

[2019-03-09 17:18] olabini commented on #119
So, most of the above comments are not relevant anymore.
In order to work on splint issues, look in .splintrc, comment one of the suppressions and try to fix the issue. For reference, the current temporary suppressions are:
[code]

[2019-03-09 17:19] olabini commented on #137
So, I think functionality for this would need to export the private long term key AND the public forger key - assuming you want to make it possible to have the same fingerprint in different places.

I'll assign this to me, come up with a standard format and put together APIs for it.

[2019-03-09 17:20] olabini commented on #155
This depends on all the specifics policies being implemented, such as #145, #146, #147, #148 and so on.

[2019-03-09 17:21] olabini commented on #167
This is a quite tricky issue - thus why it's important @claucece does it, to make sure it's done properly.

[2019-03-09 17:22] olabini commented on #169
This should be simple to sort out.

[2019-03-10 05:39] claucece commented on #183
After talking about this, we decided to have:

1. Convert Operations
2. Add prefix to resent messages

We should discuss the 'timer' functionality in person.. want to do that next week @olabini ?

[2019-03-10 05:41] claucece commented on #173
This is done here:

[code]

[2019-03-10 05:48] claucece opened #194 "How are timers going to work? (related to session expiration)"
The current functionality of the session expiration asks for an specific time, in order to expire the session:

[code]

The expiration time is handled by the client: is this going to be:

1. a timer?
2. just a time?

It is unsure how will this work from a UI perspective.. the session expiration sends a TLV type 1, meaning, that when the session expires, the user will have to manually start a new s

[2019-03-10 05:49] claucece commented on #170
I opened #194  @olabini

[2019-03-10 05:49] #170 closed

[2019-03-10 05:58] claucece opened #195 "Correct fingerprint generation"
It should include the 'forging key' as well, as detailed in the spec.

[2019-03-10 06:08] claucece commented on #150
Notice that we only have now:

[code]

The idea will be then that an user will send a TLV type 1 and then send a query message. But this still does not make sense:

1. Alice sends a data message as she is in `ENCRYPTED STATE`.
2. Bob, not in `ENCRYPTED STATE`, receives it and send a `ERROR_2`.
2. Alice receives `ERROR_2`, and sends a TLV type 1 and a query message.
3. Bob received the data message

[2019-03-10 19:53] olabini commented on #170
Great, perfect!

[2019-03-10 19:54] olabini commented on #172
This is something that I should do at some point - but it's not high priority right now. I'll probably add to it the next time I need the functionality.

[2019-03-10 19:54] olabini commented on #173
Hmm OK. I actually don't think it's a problem. I'll take away the comment and close this issue.

[2019-03-10 19:55] olabini commented on #174
Simple cleanup. I'll take care of it.

[2019-03-10 19:55] olabini commented on #175
This specifically relates to fragmented messages being received.

[2019-03-10 19:56] olabini commented on #176
This is likely already working. I'll double check before closing.

[2019-03-10 19:56] olabini commented on #178
I'll start work on this. It needs to be coupled with sorting out some of the other problems related to prekey servers etc.

[2019-03-10 19:57] olabini commented on #180
OK, so I was mistaken. @claucece said in offline conversations that this is different. It's blocked waiting on input from Mike.

[2019-03-10 19:59] olabini commented on #194
I'm not sure where I documented my thoughts on timers. But anyway, my thought is basically the same as what libotr is doing - provide a function that the client is supposed to call every X seconds. Inside of there we do all the things that needs to be done.
For expiration of a session, you're right - in this case the user would have to manually start a new session. But I don't think this will be a

[2019-03-10 20:00] olabini commented on #195
It's probably a good idea to do this at the same time as fixing up the ratchet initialization, since it will touch similar code. Have we defined in the spec how the fingerprint will be done, with the forging key?

[2019-03-10 20:01] olabini commented on #183
Both 1 and 2 are good to have - and #194 is now opened to discuss timers, so all good.

[2019-03-10 20:07] olabini commented on #150
Hmm yeah. It clearly doesn't make sense to send a TLV#1 on `ERROR_2` - as you say, it will be an infinite loop. It might be better for Alice to shut down her encrypted state without sending TLV#1 and then send a query message.

[2019-03-11 01:43] claucece commented on #175
This refers to this TODO: https://github.com/otrv4/libotr-ng/blob/master/src/prekey_client.c#L1726

[code]

[2019-03-11 01:44] claucece commented on #174
This refers to this TODO: `  // TODO: @refactoring this workaround is not the nicest there is
` on the otrng.c file.

[2019-03-11 01:45] claucece commented on #180
Yeah @olabini . Also Gustavo is looking into this :)

[2019-03-11 01:50] claucece commented on #194
It depends. A client can decide that it is every '5 minutes', then, the session will be ended. What can be done is expiring the session; but also send a query or something to restart.

From Nik, due to the incorporation of the non-interactive path. From the spec:

[code]

The attack is:

[code]

[2019-03-11 01:51] claucece commented on #195
Yes, agreed @olabini

Yes, it is changed.

[2019-03-11 05:43] claucece opened #196 "Ensure that forging keys are used in the Ring Signature"

[2019-03-11 05:44] claucece opened #197 "Correct phi generation"
Remove the query message or the whitespace tag.

[2019-03-11 13:38] olabini commented on #175
Ah, great, thanks.

[2019-03-11 13:38] olabini commented on #174
Perfect. Easier to find now.

[2019-03-11 13:38] olabini commented on #180
Great!

[2019-03-11 13:38] olabini commented on #194
I don't really understand this.

[2019-03-11 13:39] olabini commented on #195
Great

[2019-03-11 14:17] #173 closed

[2019-03-11 14:18] olabini commented on #173
After thinking about it, it's actually a problem. I created a small helper function to do this instead. It's fixed now.

[2019-03-11 18:27] olabini commented on #174
So, I started looking at this, but it got me a bit confused. Specifically, the things that look like they are duplicated are in generate_tmp_key_i and generate_tmp_key_r in otrng.c. However, the thing that seems to be duplicated is in otrng_key_manager_generate_shared_secret. But looking at this, it doesn't actually seem to do the calculation two times. Specifically, generate_tmp_key_i/r are only

[2019-03-11 20:02] #176 closed

[2019-03-11 21:29] claucece commented on #174
You are right. All is good now.

[2019-03-11 21:29] #174 closed

[2019-03-11 22:03] claucece commented on #197
Query message or whitespace tag have been removed from `phi`. The rest depends on #179 . I'm unassigning myself.

[2019-03-11 22:34] claucece commented on #196
They are indeed used.

[2019-03-11 22:34] #196 closed

[2019-03-12 03:19] claucece commented on #195
Apart from checking some TODOs (that I'll tomorrow with @olabini ), this is basically done.

[2019-03-12 04:45] claucece commented on #150
Ok, this is basically done; but I wanted to document some things:

1. We can't send query messages in `ENCRYPTED_STATE` and using a TLV 1 + query message is not possible, so the session is locally forgotten and then the query message is sent.
2. With this error, we can't reveal the MAC key of the data message. Consider:

[code]

Note that the MAC key from the data message is not revealed, as MAC k

[2019-03-12 04:45] #150 closed

[2019-03-12 13:44] #169 closed

[2019-03-12 15:55] #195 closed

[2019-03-12 16:08] #137 closed

[2019-03-12 20:36] #175 closed

[2019-03-12 20:41] olabini commented on #115
Specifically, this relates to identifying and documenting what can be safely modified from more than one thread, and what can not. In general, we don't have to be thread safe - we can just make sure that the client knows that they are in charge of synchronizing.

[2019-03-12 21:45] #167 closed

[2019-03-12 22:47] claucece commented on #194
Let's talk tomorrow @olabini

[2019-03-13 16:34] #115 closed

[2019-03-13 20:07] olabini commented on #194
OK, I think I fully understand all this stuff now.

First - the `timer_control` callback in libotr is not really a good idea for our use case, since we have many more things that need to be expired. We should have something like `otrng_client_poll` - and inside of that fragments will be expired, sessions will be expired, etc. The client can call this every 1 minute, or whatever time they want.

Ex

[2019-03-13 20:07] olabini commented on #194
Do we have a separate issue for session expiration or should that be implemented as part of this issue?

[2019-03-13 20:09] olabini commented on #194
I can go ahead and start implementing this if you feel it makes sense.

[2019-03-14 03:13] claucece commented on #194
@olabini sounds good.

We already have a method for it: it is already implemented. It basically sends a tlv disconnected.

[2019-03-14 13:55] olabini commented on #194
Ah, perfect. so it should just be triggered from the timer.

I'll go ahead with implementing it.

[2019-03-15 17:20] #194 closed

[2019-03-18 17:25] olabini commented on #178
So, this is connected to the pidgin plugin Prekey refactoring. It's pretty big and I feel a bit uncomfortable doing all this stuff in one guy, so the approach I'll use is to rename all old prekey client functions in libotr-ng and pidgin-otrng, but they will be left to work. Then I'll start implementing the new functionality, and finally start moving over all the work.

[2019-03-20 05:14] #152 closed

[2019-03-20 05:15] claucece commented on #179
I'll start focusing on this this week as it is basically done in the spec.

[2019-03-20 05:16] claucece commented on #28
I'm leaving this for someone to take it as I'm focusing on #179 . I'll take it after that or someone else can take it.

[2019-03-20 05:17] claucece commented on #154
This depends on #28

[2019-03-20 05:18] claucece commented on #155
The initial work for this is done; but we need to define the other policies to finish this. I'm leaving this for now.

[2019-03-20 05:19] claucece opened #198 "Remove inner hash when calculating the authenticator for the data message"
As defined in https://github.com/otrv4/otrv4/issues/208

[2019-03-20 05:22] claucece opened #199 "Change size of MKenc to 64 byte and use only the first 32 to the encryption function"
As defined here: https://github.com/otrv4/otrv4/issues/207

[2019-03-20 19:29] claucece commented on #179
I'll start tackling this by doing:

* [x] First #198 , #199, #200
* [x] Change the DAKE for the interactive path
* [x] Change the DAKE for the non-interactive path
* [x] Change the double ratchet init: incorporate the new 'i'.

After that, #197 and #177 can be done.

[2019-03-20 19:35] claucece commented on #198
I'm opening another issue: this one is done; but I have noticed that the usageIDs are wrong on several places.

[2019-03-20 19:35] #198 closed

[2019-03-20 19:36] claucece opened #200 "Fix the usage ID"
On several places, they are different from what is specified in the spec.

[2019-03-21 01:07] #200 closed

[2019-03-22 02:06] #199 closed

[2019-03-22 18:47] claucece opened #201 "Change the enc algorithm to RFC7538 Chacha20 and set the nonce to zero"

[2019-04-04 16:01] olabini commented on #178
This is finally done!

[2019-04-04 16:01] #178 closed

[2019-04-12 16:31] glitsj16 opened #202 "Git master build broken on Arch Linux"
Hi, I'm not entirely sure this issue is with libotr-ng or pidgin-otrng, but recently I'm seeing the below when starting pidgin:

[code]
Seemingly, the libotr-ng build from git (via Arch PKGBUILD) is semi-broken.
Full build log: https://gist.github.com/glitsj16/cc8570e971baeedef60c8f63a88bda4d
[code]

OS: Arch Linux
$ pacman -Q glib2 libotr-ng pidgin-otrng
glib2 2.60.0-1
libotr-ng-git 2782.97a6306b

[2019-04-26 20:51] ghost commented on #202
Update: after clearing the pidgin profile and starting from scratch the issue is gone. Seemingly the glib2 related build error isn't breaking anything. Sorry for the noise.

[2019-04-26 20:51] #202 closed

[2019-04-28 14:19] claucece commented on #202
Thanks for the issue! Glad you solved it :)

[2019-06-11 16:05] peterpalau commented on #119
Yes, the positive ones are not necessary on the `.splintrc` file anymore, for a good start and to solve redundancy, I'm going to remove them.

[2019-07-02 14:31] kaie opened #204 "Persistence APIs for private keys that use a buffer, not a FILE."
Thunderbird prefers to encrypt private keys before storing them on disk. It already does that for saved server logins, and for certificate private keys.

In order to handle the encryption and decryption of the persistent data produced by libotr, it would be helpful if the persistence APIs offered a function that returns the persistent data as a buffer, without writing it to a file. This could ensu

[2019-07-03 01:04] claucece commented on #204
Yes! I agree on this. I thought we had an issue for this already. Btw, @kaie .. maybe we can have a call? If I remember correctly, you wanted to help on some UI things... ;)

[2019-07-03 13:26] kaie commented on #204
Regarding a potential call, could we coordinate by email? I don't have your address, but mine is public, can be found if you click my avatar. Thanks!

[2019-07-04 10:03] kaie commented on #204
(You might confuse me with someone else regarding UI help. I currently focus on Thunderbird, and I had briefly touched coyim for a spam experiment and for a bugfix.)

Regarding this bug: github tracking seems to be about libotr-ng only, but I also need this improvement for the older libotr-4.1.1 lib, and I already had an experimental patch for it. I contacted Ian and Jurre by email to hear their o

[2019-07-05 13:05] claucece commented on #204
Hey!

Maybe.. ahaha

Yes, this is around libotr-ng only. You can open an issue for older versions here: https://bugs.otr.im/lib/libotr/issues

Sure! want to do so?

Thanks!

[2019-07-17 10:46] kaie commented on #204
The old library used three separate files for storing fingerprints, instance tags and private keys.
Will libotr-ng still use a separate file for the private keys?

Or will libotr-ng rather use a single combined file for all state information, that has the private keys somewhere in the middle?

Looking at persistence.c/h and test_persistence.c, you're testing identity export (you call otrng_client_

[2019-08-08 07:41] lnsndn opened #205 "Small snprintf error in otrng_fingerprint_hash_to_human"
Hello! This is a very minor error that has no impact right now but is worth pointing out anyway. A friend and I spotted it while we were browsing through the code for fun.

In this snippet from https://github.com/otrv4/libotr-ng/blob/master/src/fingerprint.c#L41:

[code]

The second parameter to `snprintf` is the max size to be written for each loop, which in this case should be 3 (`p` including t

[2019-08-09 02:32] claucece commented on #205
Hi, @lnsndn !

Thanks so much for this!

We will love a PR, so go ahead ;)

Thanks!

[2019-08-09 15:08] claucece commented on #205
Fixed by PR. Thanks!

[2019-08-09 15:08] #205 closed

[2019-08-10 18:05] osmk opened #207 "otrng_serialize_ec_point return value interpreted incorrectly"
Hi, I was looking through the code and happened to notice a minor issue. It doesn't actually have any impact on the function but is semantically incorrect or at least confusing...

https://github.com/otrv4/libotr-ng/blob/c6185352b30ef788e9b1eba0f88be2c57ebce9e1/src/persistence.c#L923

otrng_serialize_ec_point() returns an int number of bytes serialised, but here it is interpreted as if it returned

[2019-08-10 18:35] osmk opened #208 "potential memory leak in otrng_smp_initiate (currently not actually leaking)"
Hi, looking at the code below there is a `do {...} while(0);` construction to retry on certain errors.

https://github.com/otrv4/libotr-ng/blob/master/src/smp.c#L201-L224

The retry logic would repeat the allocation below, overwriting an allocated but not freed pointer with a new one, causing a leak

https://github.com/otrv4/libotr-ng/blob/c6185352b30ef788e9b1eba0f88be2c57ebce9e1/src/smp.c#L208

I

[2019-08-11 01:18] claucece commented on #208
Hey!

Not really. The condition will execute exactly one time. See: http://www.bruceblinn.com/linuxinfo/DoWhile.html

No. It will be allocated once. If an error occurs, the code will jump to `otrng_smp_message_1_destroy(&msg)` which frees the allocated `msg.question`.

Thanks!

[2019-08-11 01:18] #208 closed

[2019-08-11 01:23] claucece commented on #207
Hey!

Thanks. It should be fixed now ;)

Thanks!

[2019-08-11 01:23] #207 closed

[2019-08-11 08:45] osmk commented on #208
Ah, my bad, I should have tested more before reporting

[2019-09-13 15:51] claucece commented on #204
Hey, @kaie !

Sorry for not reaching out.

Will libotr-ng still use a separate file for the private keys?

Yes! But we do have more data that we store: client and prekey profiles, shared prekey and a forging key. The are all stored in separate files.

That is a different thing. It is for creating an identity based on the long-term forging and normal key.

There is no test; but that is the correct

[2020-02-28 06:17] #201 closed

[2020-07-17 12:29] claucece opened #210 "Fix the CI"

[2020-08-09 22:50] claucece commented on #210
This was introduced when the forging key was introduced. It is alloced in a bad way.

[2020-11-29 20:48] claucece commented on #154
Should be done now.

[2020-11-29 20:48] #154 closed

[2020-11-29 20:53] claucece commented on #155
The work of adding the group of policies has been done, and it relates to what OTRv3 had.

[2020-11-29 20:53] #155 closed

[2020-11-29 21:01] claucece commented on #151
Should be done now. Note that this policy will only affect the configuration fo whomever tries to send a message.

[2020-11-29 21:01] #151 closed

[2020-11-29 21:04] claucece commented on #153
We do not agree with this policy anymore, as it seems to be defined for a specific messaging protocol. The behavior will be that when the party seems to be offline, an offline dake will be started.

[2020-11-29 21:04] #153 closed

[2021-01-18 01:16] claucece commented on #172
done.

[2021-01-18 01:16] #172 closed

[2021-01-18 01:26] claucece commented on #166
Finished now.

[2021-01-18 01:26] #166 closed

[2021-01-18 01:40] claucece commented on #204
I just exposed the function. Let me know if that helps you.

[2021-01-18 01:40] #204 closed

[2021-01-18 01:55] claucece commented on #183
This was covered by #194, and the other ideas don't seem to apply anymore.

[2021-01-18 01:55] #183 closed

[2021-01-31 22:49] #179 closed